/* ASIDE */
.aside_right {
  /*   border: solid 1px wheat; */
  width: 50%;
  height: 80rem;
  background-color: $aside_right;
  right: 0;
  top: 0;
  z-index: -5;
  @include breakpoint-down("small") {
    width: 60%;
  }
  @include breakpoint-down("xsmall") {
    width: 70%;
  }

  &-slideshow {
    &_container {
      /*  border: soldi 1px blueviolet; */
      width: 60%;
      margin-top: 10rem;
      @include breakpoint-down("large") {
        width: 80%;
      }
      @include breakpoint-down("small") {
        width: 100%;
        margin-left: 3rem;
      }
    }
  }
  /* CIRCLE AND ARROW */

  &-circle {
    width: 20rem;
    height: 20rem;
    border: solid 2px white;
    border-radius: 50%;
    left: -10%;
    top: 40%;
    @include breakpoint-down("xsmall") {
      display: none;
    }
  }
}

em.fa-arrow-down {
  color: white;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* HEADER LEFT SIDE */

.left_side {
  /*  border: solid 1px white; */
  width: 50%;
  height: 40rem;
  top: 10rem;
  @include breakpoint-down("xllarge") {
    height: 30rem;
  }
  @include breakpoint-down("small") {
    height: 52rem;
    width: 20rem;
    top: 0;
    position: relative;
  }
  @include breakpoint-down("xsmall") {
    width: 10rem;
  }

  &-h1 {
    /*  border: solid 2px green; */
    font-size: 10rem;
    font-weight: 500;
    color: $dark_font;
    text-transform: uppercase;
    @include breakpoint-down("xllarge") {
      text-align: center;
    }
    @include breakpoint-down("large") {
      font-size: 8rem;
      z-index: -10;
    }
    @include breakpoint-down("small") {
      transform: rotate(-90deg);
      font-size: 8rem;
      font-weight: 800;
      position: absolute;
      top: 10rem;
      width: 40rem;
    }
  }

  &-info {
    /*     border: solid 1px yellow; */
    font-size: 1.5rem;
    color: $darker_font;
    @include breakpoint-down("small") {
      position: absolute;
      width: 40rem;
      bottom: -3rem;
      left: 5rem;
      font-size: 1.8rem;
    }
    @include breakpoint-down("xsmall") {
      width: 30rem;
      bottom: 5rem;
      left: 9rem;
    }
    @include breakpoint-down("xxsmall") {
      width: 20rem;
      left: 11rem;
    }
  }
}

/* BACHELOR */
video > source {
  @include breakpoint-down("xsmall") {
    width: 100%;
  }
}

.bachelor {
  /*  border: solid 1px yellow; */
  width: 80%;
  height: 50rem;
  top: 60rem;
  margin: auto;
  @include breakpoint-down("xllarge") {
    width: 90%;
    top: 50rem;
  }
  @include breakpoint-down("medium") {
    height: 70rem;
  }
  @include breakpoint-down("small") {
    top: 10rem;
    height: 60rem;
  }
  @include breakpoint-down("xsmall") {
    top: 0rem;
    height: 50rem;
  }

  &_items {
    /*   border: solid 1px rgb(13, 151, 105); */
    width: 100%;
    height: 100%;
    @include breakpoint-down("medium") {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-h2 > h2 {
    color: $dark_font;
    font-size: 9rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #d5c1ba;
    text-shadow: 1px 1px 0px $dark_font;
    @include breakpoint-down("xllarge") {
      font-size: 8rem;
    }
    @include breakpoint-down("large") {
      font-size: 7rem;
    }
    @include breakpoint-down("medium") {
      font-size: 6rem;
    }
    @include breakpoint-down("small") {
      font-size: 5rem;
    }
    @include breakpoint-down("xsmall") {
      font-size: 3rem;
    }
  }

  &_info {
    /*   border: solid 1px rgb(185, 13, 134); */
    height: 30rem;
    margin: 1rem;
    @include breakpoint-down("small") {
      height: 25rem;
    }
    &-title {
      /*  border: solid 1px white; */
      font-size: 7rem;
      font-weight: 400;
      color: $dark_font;
      @include breakpoint-down("large") {
        font-size: 6rem;
      }
      @include breakpoint-down("xsmall") {
        font-size: 4rem;
      }
    }

    &-year {
      /* border: solid 1px white; */
      font-size: 3rem;
      font-weight: 400;
      color: $dark_font;
      margin-top: 1rem;
    }
    &-txt {
      /* border: solid 1px orange; */
      font-size: 1.5rem;
    }
  }
}

a.bachelor_btn {
  font-size: 1.5rem;
  z-index: 100;
  bottom: 2rem;
}

/* SELECTION - CONTAINER */

.selection_container {
  /*   border: solid 1px white; */
  margin: 20rem 3rem 10rem 3rem;
  top: 50rem;
  @include breakpoint-down("xllarge") {
    top: 40rem;
  }
  @include breakpoint-down("small") {
    top: 0;
  }
  @include breakpoint-down("xsmall") {
    top: -5rem;
  }
}
img.semester {
  width: 20rem;
  height: 30rem;
  margin: 0;
  padding: 0;
  z-index: -1;
  @include breakpoint-down("xsmall") {
    position: absolute;
    top: 5rem;
    left: 8rem;
  }
  @include breakpoint-down("xxsmall") {
    left: 3rem;
  }
}

/* SEMESTER - CONTAINER */

.semester_container {
  /*   border: solid 1px rgb(39, 74, 189); */

  margin: 5rem 0 10rem 0;

  width: 90%;
  height: 30em;
  @include breakpoint-down("medium") {
    width: 100%;
  }
  @include breakpoint-down("small") {
    height: 40rem;
    margin: 2rem;
  }
  @include breakpoint-down("small") {
    width: 80%;
  }
  @include breakpoint-down("xsmall") {
    /* display: block; */
    position: relative;
    width: 100%;
  }
  &-color_div {
    &-first {
      background-color: #8d8d8c;
      z-index: -5;
      width: 20rem;
      height: 60rem;
      right: 1rem;
      top: 0;
      @include breakpoint-down("xllarge") {
        height: 55rem;
      }
      @include breakpoint-down("xsmall") {
        display: none;
      }
    }

    &-third {
      background-color: #beada5;
      z-index: -5;
      width: 15rem;
      height: 60rem;
      left: 0;
      top: 5rem;
      @include breakpoint-down("large") {
        display: none;
      }
    }

    &-sixth {
      background-color: #b3b0bc;
      z-index: -5;
      width: 20rem;
      height: 60rem;
      right: 1rem;
      bottom: -10rem;
      @include breakpoint-down("xsmall") {
        display: none;
      }
    }
  }

  &-preinfo {
    /*    border: solid 1px red; */
    font-family: $main_font;
    font-weight: $middle;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
    width: 40rem;
    @include breakpoint-down("small") {
      display: none;
    }
  }

  &-titel {
    color: #000;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 3rem;
    margin: 2rem;
    @include breakpoint-down("large") {
      z-index: 10;
    }
    @include breakpoint-down("small") {
      font-size: 5rem;
      text-align: center;
    }
    @include breakpoint-down("xsmall") {
      height: 10rem;
      width: 100%;
      font-size: 4rem;
      position: absolute;
      top: 0;
    }
    @include breakpoint-down("xxsmall") {
      left: 0rem;
    }
  }

  &-image_wraper {
    /*  border: 1px yellow; */

    &-year {
      z-index: 10;
    }
  }
}

h4.year {
  /*  border: solid 1px yellow; */
  font-size: 10rem;
  font-family: $main_font_exp;
  font-weight: $bold;
  color: rgba(255, 255, 255, 0.459);
  margin-left: 2rem;
  @include breakpoint-down("medium") {
    position: relative;
  }
  @include breakpoint-down("xsmall") {
    display: none;
  }
}

/* SECOND CIRCLE  */
.afterSemester_circle {
  width: 30rem;
  height: 30rem;
  border: solid 2px white;
  border-radius: 50%;
  bottom: -30rem;
  margin: 0 0 0 30rem;
  @include breakpoint-down("large") {
    width: 20rem;
    height: 20rem;
    left: -5rem;
  }
  @include breakpoint-down("xsmall") {
    display: none;
  }
}

/* JENNY NGUYEN */
.jennyNguyen {
  /*  border: solid 1px yellow; */
  z-index: -1;
  width: 30%;
  height: 60rem;
  left: 5rem;
  background-color: $color_bright_greyish_blue;
  bottom: -20rem;
  @include breakpoint-down("large") {
    height: 50rem;
  }
  @include breakpoint-down("medium") {
    width: 40%;
  }
  @include breakpoint-down("small") {
    top: -80rem;
    width: 35rem;
    height: 60rem;
  }
  @include breakpoint-down("xsmall") {
    top: -10rem;
    left: 3rem;
  }
  @include breakpoint-down("xxsmall") {
    left: 0;
  }

  &_portrait {
    /*  border: solid 1px black; */
    width: 80%;
    margin-top: 5rem;
  }

  &-name {
    font-size: 4rem;
    font-weight: 400;
    margin: 2rem 0;
    @include breakpoint-down("xsmall") {
      font-size: 5rem;
    }
  }

  &-infos {
    /*  border: solid 1px khaki; */
    border: solid 3px $aside_right;
    width: 50%;
    height: 30rem;
    display: block;
    float: right;
    margin-right: 10rem;
    margin-top: 35rem;
    cursor: none;
    @include breakpoint-down("xllarge") {
      margin-right: 5rem;
    }
    @include breakpoint-down("medium") {
      margin-right: 0;
    }
    @include breakpoint-down("small") {
      border: none;
      cursor: default;
    }
    @include breakpoint-down("xsmall") {
      position: absolute;
      left: 3rem;
      width: 80%;
      margin-top: 50rem;
    }
    &-p {
      font-size: 3rem;
      color: $homepage_bk;
      @include breakpoint-down("medium") {
        font-size: 2rem;
      }
      @include breakpoint-down("small") {
        color: #000;
        margin-top: 5rem;
      }
    }
  }
}

/* CURSOR CUSTOM */
.hiddenCursor {
  width: 15rem;
  height: 15rem;
  border: solid 1px $aside_right;
  background-color: $darker_font;
  z-index: -5;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  @include breakpoint-down("small") {
    display: none;
  }
}

/* LETS TALK */

.lets_talk {
  /*   border: solid 1px yellow; */
  width: 100%;
  top: 30rem;
  @include breakpoint-down("small") {
    top: -50rem;
  }
  @include breakpoint-down("xsmall") {
    top: 15rem;
  }

  & h2 {
    font-size: 10rem;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: $dark_font;
  }
}

/* CONTACT FORM */

.contact_me {
  /* border: solid 1px white; */
  bottom: -50rem;
  margin: auto;
  width: 90%;
  height: 30rem;
  z-index: 100;
  @include breakpoint-down("xllarge") {
    bottom: -40rem;
  }
  @include breakpoint-down("large") {
    bottom: -30rem;
  }
  @include breakpoint-down("small") {
    bottom: 40rem;
  }
  @include breakpoint-down("xsmall") {
    bottom: -20rem;
  }

  &-nameEtc {
    /*  border: solid 1px yellow; */
    background-color: $color_grey;
    width: 50%;
    height: 20rem;
    @include breakpoint-down("large") {
      width: 100%;
    }
  }
  &-message {
    /* border: solid 1px yellow; */
    background-color: $color_greyish_blue;
    width: 50%;
    height: 20rem;
    right: 0;
    @include breakpoint-down("large") {
      width: 100%;
      bottom: -20rem;
    }
  }
}

form label {
  font-size: 1.3rem;
  letter-spacing: 5px;
  font-weight: 400;
  margin: 1rem 0;
  color: #fff;
}

form input {
  width: 15rem;
  height: 2rem;
  border: #fff solid 1px;
  background-color: $homepage_bk;
  text-align: center;
  letter-spacing: 2px;
  &:active {
    border: none;
  }
  @include breakpoint-down("medium") {
    width: 10rem;
  }
}

textarea {
  width: 80%;
  background-color: $homepage_bk;
  text-align: center;
  @include breakpoint-down("medium") {
    width: 50%;
  }
}

input[type="submit"],
input[type="reset"] {
  margin: 1rem;
  letter-spacing: 5px;
}

/* NAVIGATION XSMALL */
.nav_xsmall {
  display: none;
  top: 0;
  width: 100vw;
  z-index: 999;
  background-color: #beada5be;
  & h6 {
    font-size: 2rem;
    text-align: center;
  }
  & i {
    font-size: 2rem;
    color: #fff;
    width: 100%;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
  }
}

/* FOOTER */
#hp_footer {
  & div {
    @include breakpoint-down("xllarge") {
      width: 40%;
    }
    @include breakpoint-down("xsmall") {
      width: 70%;
    }

    &.footer_jennysName {
      @include breakpoint-down("xsmall") {
        display: none;
      }
    }
  }
  a {
    @include breakpoint-down("medium") {
      font-size: 1rem;
    }
    @include breakpoint-down("xxsmall") {
      font-size: 0.7rem;
    }
    & i {
      @include breakpoint-down("medium") {
        font-size: 3rem;
      }
    }
  }
}

.sem {
  /*  border: solid 1px yellow; */
  width: 80%;
  height: 15rem;
  margin: auto;
  &:hover {
    background-color: #b3b0bc80;
  }
}
