/* ASIDE */
.aside_right {
  border: solid 1px wheat;
  width: 50%;
  height: 80rem;
  background-color: $aside_right;
  right: 0;
  top: 0;
  z-index: -5;
  @include breakpoint-down("xllarge") {
  }
  @include breakpoint-down("medium") {
  }
  @include breakpoint-down("small") {
  }
  @include breakpoint-down("xxsSmall") {
  }

  &-slideshow {
    &_container {
      border: soldi 1px blueviolet;
      width: 60%;
      margin-top: 10rem;
      @include breakpoint-down("xxsSmall") {
      }
    }
  }
  /* CIRCLE AND ARROW */

  &-circle {
    width: 20rem;
    height: 20rem;
    border: solid 2px white;
    border-radius: 50%;
    left: -10%;
    top: 40%;
  }
}

em.fa-arrow-down {
  color: white;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* HEADER LEFT SIDE */

.left_side {
  border: solid 1px white;
  width: 50%;
  height: 50rem;
  top: 10rem;

  &-h1 {
    font-size: 10rem;
    font-weight: 500;
    color: $dark_font;
    text-transform: uppercase;
  }

  &-info {
    font-size: 1.5rem;
    color: $darker_font;
  }
}

/* BACHELOR */

.bachelor {
  border: solid 1px yellow;
  width: 80%;
  height: 50rem;
  top: 60rem;
  margin: auto;
  &_items {
    border: solid 1px rgb(13, 151, 105);
    width: 100%;
    height: 100%;
  }

  &-h2 > h2 {
    color: $dark_font;
    font-size: 10rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #d5c1ba;
    text-shadow: 1px 1px 0px $dark_font;
  }

  &_info {
    border: solid 1px black;
    height: 30rem;

    &-title {
      border: solid 1px white;
      font-size: 7rem;
      font-weight: 400;
      color: $dark_font;
    }

    &-year {
      border: solid 1px white;
      font-size: 3rem;
      font-weight: 400;
      color: $dark_font;
      margin-top: 1rem;
    }
    &-txt {
      border: solid 1px orange;
      font-size: 1.5rem;
    }
  }
}

a.bachelor_btn {
  font-size: 1.5rem;
  z-index: 100;
  bottom: 2rem;
}

/* SELECTION - CONTAINER */

.selection_container {
  border: solid 1px white;
  margin: 20rem 3rem 10rem 3rem;
  top: 50rem;
}
img.semester {
  width: 20rem;
  height: 30rem;
  margin: 0;
  padding: 0;
  z-index: -1;
}

/* SEMESTER - CONTAINER */

.semester_container {
  border: solid 1px black;

  margin: 5rem 0 10rem 0;

  width: 90%;
  height: 30em;

  &-color_div {
    &-first {
      background-color: #8d8d8c;
      z-index: -5;
      width: 20rem;
      height: 60rem;
      right: 1rem;
      top: 0;
    }

    &-third {
      background-color: #beada5;
      z-index: -5;
      width: 20rem;
      height: 60rem;
      left: -6rem;
      top: 5rem;
    }

    &-sixth {
      background-color: #b3b0bc;
      z-index: -5;
      width: 20rem;
      height: 60rem;
      right: 1rem;
      bottom: -10rem;
    }
  }

  &-preinfo {
    border: solid 1px red;
    font-family: $main_font;
    font-weight: $middle;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
    width: 40rem;
  }

  &-titel {
    font-family: $main_font;
    font-weight: $middle;
    font-size: 3rem;
    margin: 2rem;
  }

  &-image_wraper {
    border: 1px;

    &-year {
      z-index: 10;
    }
  }
}

h4.year {
  font-size: 10rem;
  font-family: $main_font_exp;
  font-weight: $bold;
  color: rgba(255, 255, 255, 0.459);
  margin-left: 2rem;
}

/* SECOND CIRCLE  */
.afterSemester_circle {
  width: 30rem;
  height: 30rem;
  border: solid 2px white;
  border-radius: 50%;
  bottom: -30rem;
  margin: 0 0 0 30rem;
}

/* JENNY NGUYEN */
.jennyNguyen {
  border: solid 1px yellow;
  z-index: -1;
  width: 30%;
  height: 60rem;
  left: 5rem;
  background-color: $color_bright_greyish_blue;
  bottom: -20rem;

  &_portrait {
    border: solid 1px black;
    width: 80%;
    margin-top: 5rem;
  }

  &-name {
    font-size: 4rem;
    font-weight: 400;
    margin: 2rem 0;
  }

  &-infos {
    border: solid 3px $aside_right;
    width: 30%;
    display: block;
    float: right;
    margin-right: 10rem;
    cursor: none;
    @include breakpoint-down("large") {
      width: 50%;
      margin-right: 5rem;
      cursor: default;
      position: relative;
      top: -15rem;
    }
    @include breakpoint-down("xsSmall") {
      top: 15rem;
      width: 70%;
      margin: auto;
    }
    @include breakpoint-down("xxsSmall") {
      top: 20rem;
      width: 100%;
      text-align: center;
    }
    &-p {
      font-size: 3rem;
      color: $homepage_bk;
      @include breakpoint-down("large") {
        color: $dark_font;
        font-size: 2.5rem;
      }

      @include breakpoint-down("xsSmall") {
        font-size: 2rem;
      }
    }
  }
}

/* CURSOR CUSTOM */
.hiddenCursor {
  width: 15rem;
  height: 15rem;
  border: solid 1px $aside_right;
  background-color: $darker_font;
  z-index: -5;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

/* LETS TALK */

.lets_talk {
  border: solid 1px yellow;
  width: 100%;
  top: 40rem;
  & h2 {
    font-size: 10rem;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: $dark_font;
  }
}
