#fourthSemester {
  background-color: $fourthS_olive;
}
#fourth_nav {
  background-color: $fourthS_grey;
  & a {
    color: white;
    font-weight: 400;
  }
}

header.fourth {
  z-index: -10;
  width: 90%;
  margin: auto;
}

.header_fourth {
  /*  border: solid 1px yellow; */
  width: 90%;
  height: 80vh;
  top: 10rem;
  overflow: hidden;
  z-index: -10;
  @include breakpoint-down("small") {
    height: 50vh;
  }
  &-info {
    /*   border: solid 1px black */
    top: 5rem;
    font-size: 10rem;
    color: $fourthS_creme;
    @include breakpoint-down("large") {
      font-size: 8rem;
      text-align: center;
    }
    @include breakpoint-down("small") {
      top: 3rem;
      font-size: 5rem;
    }
    @include breakpoint-down("xsmall") {
      font-size: 3rem;
      width: 100%;
      top: 16rem;
    }
    & span {
      font-size: 7rem;
      @include breakpoint-down("small") {
        font-size: 5rem;
      }
      @include breakpoint-down("xsmall") {
        font-size: 2rem;
      }
    }
  }
  &-video {
    height: 80%;
  }
}

section.fourth {
  border: solid 1px violet;
  width: 100%;
  height: auto;
  top: 100vh;
  @include breakpoint-down("small") {
    top: 40rem;
  }
}

.section_fourth-img-wrapper {
  border: solid 1px yellow;
  width: 80vw;
  margin: auto;
  height: 100rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include breakpoint-down("large") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &-info {
    & p {
      font-size: 3rem;
      letter-spacing: 5px;
      color: $fourthS_dark_green;
      @include breakpoint-down("xsmall") {
        font-size: 2rem;
      }
    }
  }
}
img.fourth {
  width: 20rem;
  margin: 10rem;
  perspective: 10px;
  perspective-origin: 50%;
  cursor: pointer;
  @include breakpoint-down("large") {
    width: 30rem;
  }
  @include breakpoint-down("xsmall") {
    width: 20rem;
  }
}
#footer-wrapper_fourth {
  position: relative;
  top: 345rem;
  @include breakpoint-down("large") {
    top: 730rem;
  }
  @include breakpoint-down("xsmall") {
    top: 570rem;
  }
  & footer {
    height: 5rem;
    & #footer_icon {
      @include breakpoint-down("xsmall") {
        font-size: 1.5rem;
      }
    }
    & a {
      color: $darker_font;
      @include breakpoint-down("xsmall") {
        font-size: 1rem;
      }
      @include breakpoint-down("xsmall") {
        font-size: 1rem;
      }
      @include breakpoint-down("xxsmall") {
        font-size: 0.7rem;
      }
      & i {
        @include breakpoint-down("xsmall") {
          font-size: 2rem;
        }
      }
    }
    & > div {
      @include breakpoint-down("xllarge") {
        width: 40%;
        @include breakpoint-down("medium") {
          width: 50%;
        }
        @include breakpoint-down("small") {
          width: 60%;
        }
        @include breakpoint-down("xsmall") {
          width: 80%;
        }
      }
    }
  }
}
