#first_nav {
  background-color: $firstS_dark_red;
  & a {
    color: white;
    font-weight: 400;
  }
}

/* HEADER */
.header_martyr {
  /*   border: solid 1px white; */
  z-index: -99;
  width: 90%;
  height: 80vh;
  top: 0rem;
  margin-left: 5rem;
  @include breakpoint-down("xsmall") {
    left: -3rem;
  }

  &-video {
    right: 0;
  }

  &-img {
    width: 20rem;
    height: auto;
    bottom: 0;
    &_aside {
      width: 30rem;
      right: 0;
      z-index: -5;
    }
  }

  &-heading {
    /*   border: solid 2px green; */
    width: 100%;
    height: auto;
    top: 40%;
    @include breakpoint-down("small") {
      display: block;
      top: 2rem;
    }
    @include breakpoint-down("xsmall") {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    &-wrapper_first {
      /*   border: solid 1px yellow; */
      width: 100%;
      height: 4rem;
      background-color: $firstS_dark_red;
      animation: widthDiv 3s;
      @include breakpoint-down("small") {
        animation: none;
        top: 0;
      }
      @include breakpoint-down("xsmall") {
        background-color: rgba(255, 255, 255, 0);
      }
    }

    &-wrapper_second {
      /*  border: solid 1px violet; */
      height: 4rem;
      width: 100%;
      z-index: -5;
      animation: topToBottom 4s;
      @include breakpoint-down("small") {
        animation: none;
        top: 0;
      }
    }

    &-h1_first,
    &-h1_second {
      color: white;
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      @include breakpoint-down("small") {
        font-size: 3rem;
      }
      @include breakpoint-down("xsmall") {
        font-size: 5rem;
        text-align: center;
      }
    }

    &-h1_first {
      animation: oppacity_fromZero ease-in 3s;
      @include breakpoint-down("small") {
        animation: none;
      }
    }

    &-h1_second {
      animation: oppacity_fromZero ease-in 3s;
      color: $firstS_dark_red;
      @include breakpoint-down("small") {
        animation: none;
      }
      @include breakpoint-down("xsmall") {
        color: #fff;
      }
    }
  }
}

/*VIDEO */

.video_wrapper {
  &-first {
    width: 100%;
    height: 5rem;
    top: 5rem;
    overflow: hidden;
    animation: toRight ease 3s;
    @include breakpoint-down("small") {
      display: none;
    }
  }

  &-second {
    width: 100%;
    height: 5rem;
    overflow: hidden;
    bottom: 0;
    left: 25%;
    animation: fromLeft ease 3s;
    @include breakpoint-down("small") {
      animation: none;
      height: 30rem;
      left: 0;
    }
    @include breakpoint-down("xsmall") {
      height: 100%;
      opacity: 0.5;
      z-index: -99;
    }
  }
}

.after_header {
  /*   border: solid 1px yellow; */
  width: 100%;
  height: 10rem;
  top: 100%;

  &_text {
    font-size: 1.7rem;
    font-weight: $middle;
    color: $firstS_dark_red;
    @include breakpoint-down("medium") {
      font-size: 1.5rem;
    }
    @include breakpoint-down("small") {
      font-size: 1.8rem;
      text-align: center;
    }
  }
}
/* SIMPLE GALLERY */

section.images {
  /*   border: solid 1px yellow; */
  width: 100%;
  margin: auto;
  top: 20rem;
}

.grid_gallery {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @include breakpoint-down("small") {
    grid-template-columns: 1fr;
  }
}

.firstSemImg {
  width: 100%;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.lightBox {
  /* border: soldi 1px black; */
  width: 100%;
  height: 100%;
  background-color: #620101c7;
  left: -100%;

  &_info {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
  }

  &_img {
    height: 80%;
  }

  &_close {
    font-size: 3rem;
    color: white;
    top: 4rem;
    right: 4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      font-size: 3.5rem;
      transition: all 0.3s ease-in-out;
    }
  }
  @include breakpoint-down("small") {
    display: none;
  }
}

#footer-wrapper_first {
  /* border: solid 1px yellow; */
  position: relative;
  top: 30em;
  height: 5rem;
  & footer {
    height: 5rem;
    & #footer_icon {
      @include breakpoint-down("xsmall") {
        font-size: 1.5rem;
      }
    }
    & a {
      color: $darker_font;
      &:hover {
        color: #fff;
      }
      @include breakpoint-down("xsmall") {
        font-size: 1rem;
      }
      @include breakpoint-down("xsmall") {
        font-size: 1rem;
      }
      @include breakpoint-down("xxsmall") {
        font-size: 0.7rem;
      }
      & i {
        &:hover {
          color: white;
        }
        @include breakpoint-down("xsmall") {
          font-size: 2rem;
        }
      }
    }
    & > div {
      @include breakpoint-down("xllarge") {
        width: 40%;
        @include breakpoint-down("medium") {
          width: 50%;
        }
        @include breakpoint-down("small") {
          width: 60%;
        }
        @include breakpoint-down("xsmall") {
          width: 80%;
        }
      }
    }
  }
}
