#fourthSemester {
  background-color: $fourthS_olive;
}

header.fourth {
  width: 90%;
  margin: auto;
}

.header_fourth {
  border: solid 1px yellow;
  width: 90%;
  height: 80vh;
  top: 10rem;
  overflow: hidden;
  &-info {
    top: 5rem;
    font-size: 10rem;
    color: $fourthS_creme;
    & span {
      font-size: 7rem;
    }
  }
  &-video {
    height: 80%;
  }
}

section.fourth {
  border: solid 1px violet;
  width: 100%;
  height: auto;
  top: 100vh;
}

.section_fourth-img-wrapper {
  border: solid 1px yellow;
  width: 80vw;
  margin: auto;
  height: 100rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &-info {
    & p {
      font-size: 3rem;
      letter-spacing: 5px;
      color: $fourthS_dark_green;
    }
  }
}
img.fourth {
  width: 20rem;
  margin: 10rem;
  perspective: 10px;
  perspective-origin: 50%;
  cursor: pointer;
}

.section_fourth-gallery {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.465);
}
