#thirdSemester {
  background-color: $thirdS_light_greyish_red;
}
#third_nav {
  background-color: $thirdS_senf;
}

/* Asides */

.left {
  /* border: solid 1px yellow; */
  top: 10rem;
  width: 10rem;
  height: 150rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  &_img {
    width: 100%;
  }
}

.right {
  /*  border: solid 1px yellow; */
  right: 0;
  top: 10rem;
  width: 10rem;
  height: 120rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  &_img {
    width: 100%;
  }
}

/* Header */

.thirdSem {
  /*  border: solid 1px yellow; */
  width: 70%;
  height: 100%;
  top: 10rem;
  left: 15rem;
  &_img {
    width: 30rem;
    background-image: url("../05_images/03_Semester/4.JPG");
    animation: imgHeight ease-in-out forwards 2s;
  }
  &_h1 {
    top: 0;
    right: 0;
    &_text {
      font-size: 7rem;
      color: $thirdS_brown;
      text-shadow: 5px 5px 2px $thirdS_light_greyish_orange;
    }
  }
}

.karlsruhe {
  /* border: solid 1px hotpink; */
  width: 60%;
  height: 30rem;
  bottom: -80rem;
  left: 20rem;
  &_img {
    background-image: url("../05_images/03_Semester/00.jpg");
    width: 20rem;
    height: 100%;
  }
  &_info {
    width: 50%;
  }
}

#slideshow {
  /* border: solid 1px greenyellow; */
  bottom: -90rem;
  left: -15rem;
  width: 100%;
  overflow: hidden;
  margin: 20px auto 0 auto;
}
#slideshow ul {
  position: relative;
  height: 200px;
  list-style: none;
}
/* Slides */
#slideshow ul li {
  position: relative;
  display: block;
  float: left;
  width: 45rem;
  height: 45rem;
  text-align: center;
  line-height: 300px;
}

.img {
  &_one {
    background-image: url("../05_images/03_Semester/2.JPG");
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  &_two {
    background-image: url("../05_images/03_Semester/3.JPG");
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  &_three {
    background-image: url("../05_images/03_Semester/4.JPG");
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  &_four {
    background-image: url("../05_images/03_Semester/5.JPG");
    background-size: contain;
    width: 100%;
    height: 100%;
  }
}

a.button_next,
a.button_prev {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: $thirdS_brown;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

a.button_prev {
  border-radius: 0 2px 2px 0;
}

a.button_next {
  border-radius: 2px 0 0 2px;
  right: 0;
}

/* More infos */

.baptiste {
  /* border: solid 1px orange; */
  width: 80%;
  height: 30rem;
  margin: auto;
  bottom: -100rem;
  & div {
    width: 50rem;
    margin: 5rem;
  }

  & p {
    font-size: 1.5rem;
    font-weight: 400;
  }
  &_img {
    background-image: url("../05_images/03_Semester/5.jpg");
    width: 20rem;
    height: 30rem;
  }
}

#footer-wrapper_third {
  position: relative;
  top: 105rem;
}
