/* Color_Palette */
/* ACCENT */
/* Hell */
/* Normal */
/* Darker */
/* FIRST SEMESTER */
/* SECOND SEMESTER */
/* Third SEMESTER */
/* Fourth SEMESTER */
/* Font */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
/*  SMALL RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* DISPLAY: FLEX */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-s {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* FLOAT */
.float {
  float: left;
}

.float-r {
  float: right;
}

/* POSITIONING */
.position {
  position: absolute;
}

.position-r {
  position: relative;
}

.position-f {
  position: fixed;
}

/* TEXT-ALIGN */
.text-c {
  text-align: center;
}

/* HEIGHT */
.h-100 {
  height: 100%;
}

/* BOTTOM */
.bottom {
  bottom: 0;
}

/* TOP */
.top {
  top: 0;
}

/* BACKGROUND */
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TRANSITIONS */
.transition {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.transition_slow {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

body {
  max-width: 100vw;
  height: 100%;
  font-family: "Bebas Neue Pro";
  font-stretch: ultra-expanded;
  background-color: #d5c1ba;
  overflow-x: hidden;
  cursor: default;
}

/* BODY BREAKPOINTS SO I SEE WHERE I AM */
/* body {
  @include breakpoint-down("xllarge") {
    background-color: rgb(226, 226, 149);
  }
  @include breakpoint-down("large") {
    background-color: rgb(251, 189, 251);
  }

  @include breakpoint-down("medium") {
    background-color: rgb(145, 158, 145);
  }
  @include breakpoint-down("small") {
    background-color: rgb(127, 176, 209);
  }
  @include breakpoint-down("xsmall") {
    background-color: rgb(219, 159, 159);
  }
  @include breakpoint-down("xxsmall") {
    background-color: rgb(192, 235, 195);
  }
} */
/* A TAGS */
a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-stretch: ultra-expanded;
  color: #383e46;
}

a.more_about {
  border: solid 1px #7a7987;
  padding: 5px 20px;
  font-size: 1.3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.more_about:hover, a.more_about:active {
  letter-spacing: 2px;
  color: #f3e3e1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  border: solid 1px #c0b0b0;
  background-color: #c0b0b0;
  border-radius: 3px;
}

.btn_more_about {
  /*   border: solid 1px yellow; */
  margin: 2rem 0;
}

@media screen and (max-width: 55rem) {
  .btn_more_about {
    position: relative;
    top: 18rem;
    left: 5rem;
  }
}

@media screen and (max-width: 40rem) {
  .btn_more_about {
    left: 3rem;
  }
}

#second_btn {
  left: -5rem;
}

a.semester_collections {
  color: #383e46;
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 100em) {
  a.semester_collections {
    margin-top: 1rem;
  }
}

a.semester_collections:hover {
  color: #000;
}

a.jenny_nguyen_logo {
  font-weight: 800;
  letter-spacing: 10px;
  color: #383e46;
}

@media screen and (max-width: 40rem) {
  a.jenny_nguyen_logo {
    font-size: 1rem;
  }
}

a.jenny_nguyen_logo:hover {
  font-weight: 600;
}

/* NAVIGATION */
nav.nav_top {
  /*  border: solid 1px yellow; */
  width: 70rem;
  height: 5rem;
  margin: 2rem 0 0 5rem;
}

@media screen and (max-width: 87.43755em) {
  nav.nav_top {
    width: 80%;
  }
}

.nav_left {
  /* border: solid 1px red; */
  height: 5rem;
}

.nav_left-dropdown_countainer {
  /* border: solid 1px yellow; */
}

@media screen and (max-width: 55rem) {
  .nav_left-dropdown_countainer {
    display: none;
  }
}

.nav_left-dropdown_items {
  /*  border: solid 1px orange; */
  opacity: 0;
  margin-top: 1rem;
}

@media screen and (max-width: 87.43755em) {
  .nav_left-dropdown_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav_left-dropdown-btn {
  cursor: pointer;
  font-size: 1.5rem;
  color: #383e46;
  font-weight: 600;
  letter-spacing: 5px;
  border: none;
  background-color: #d5c1ba;
}

@media screen and (max-width: 40rem) {
  .nav_left-dropdown-btn {
    font-size: 1.3rem;
  }
}

.nav_left-dropdown-btn:hover {
  font-weight: 400;
}

.nav_right {
  /*   border: solid 1px violet */
  width: 20rem;
  height: 5rem;
}

/* NAV SMALL */
.nav_small {
  top: 2rem;
  left: 5rem;
}

@media screen and (min-width: 55rem) {
  .nav_small {
    display: none;
  }
}

.nav_small .click {
  font-size: 2rem;
  color: #383e46;
  cursor: pointer;
}

.nav_small .click:hover {
  color: #f3e3e1;
}

.nav_small .clicked {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  color: #f3e3e1;
}

.nav_small .clicked:hover {
  color: #383e46;
}

.nav_small_items {
  display: none;
  z-index: 999;
  background-color: #bac2cc;
  width: 80vw;
  height: 100vh;
}

.nav_small_items .sem {
  width: 100%;
  height: 10%;
  margin-bottom: 2.5rem;
}

.nav_small_items .sem:hover {
  background-color: #cdcad8;
}

.nav_small_items .sem img {
  width: 15%;
}

/* FOOTER */
#footer-wrapper {
  /* border: solid 1px yellow; */
  min-height: 100vh;
  position: relative;
}

#footer_icon {
  font-size: 2rem;
}

@media screen and (max-width: 74.9375em) {
  #footer_icon {
    font-size: 2rem;
  }
}

#footer_icon > a {
  color: white;
  margin: 1rem;
}

@media screen and (max-width: 87.43755em) {
  #footer_icon > a {
    font-size: 1rem;
  }
}

footer {
  /*  border: solid 2px wheat; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #c0b0b0;
  z-index: 100;
}

.footer_socialMedia {
  /*  border: solid 1px white; */
  width: 30%;
  height: 100%;
}

.footer_jennysName {
  /*  border: solid 1px white; */
  width: 30%;
  background-image: url("../05_images/png_logo/logo_transparent_background.png");
  background-size: contain;
}

.footer_top {
  /*  border: solid 1px white; */
  font-size: 2rem;
  z-index: 100;
}

.footer_top p {
  font-weight: 300;
  font-size: 1rem;
  display: none;
}

.footer_top:hover {
  color: white;
}

.footer_arrow {
  width: 5rem;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@-webkit-keyframes oppacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes oppacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes oppacity_fromZero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes oppacity_fromZero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes widthDiv {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes widthDiv {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes topToBottom {
  from {
    margin-top: -5rem;
  }
  to {
    margin-top: 0;
  }
}

@keyframes topToBottom {
  from {
    margin-top: -5rem;
  }
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes fromLeft {
  from {
    left: 100%;
  }
  to {
    left: 25%;
  }
}

@keyframes fromLeft {
  from {
    left: 100%;
  }
  to {
    left: 25%;
  }
}

@-webkit-keyframes toRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes toRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes imgHeight {
  from {
    height: 0;
  }
  to {
    height: 60rem;
  }
}

@keyframes imgHeight {
  from {
    height: 0;
  }
  to {
    height: 60rem;
  }
}

#hp_nav {
  background-color: #d5c1ba;
}

/* ASIDE */
.aside_right {
  /*   border: solid 1px wheat; */
  width: 50%;
  height: 80rem;
  background-color: #c0b0b0;
  right: 0;
  top: 0;
  z-index: -5;
  /* CIRCLE AND ARROW */
}

@media screen and (max-width: 65.9375em) {
  .aside_right {
    width: 60%;
  }
}

@media screen and (max-width: 55rem) {
  .aside_right {
    width: 70%;
  }
}

.aside_right-slideshow_container {
  /*  border: soldi 1px blueviolet; */
  width: 60%;
  margin-top: 10rem;
}

@media screen and (max-width: 87.43755em) {
  .aside_right-slideshow_container {
    width: 80%;
  }
}

@media screen and (max-width: 65.9375em) {
  .aside_right-slideshow_container {
    width: 100%;
    margin-left: 3rem;
  }
}

.aside_right-circle {
  width: 20rem;
  height: 20rem;
  border: solid 2px white;
  border-radius: 50%;
  left: -10%;
  top: 40%;
}

@media screen and (max-width: 55rem) {
  .aside_right-circle {
    display: none;
  }
}

em.fa-arrow-down {
  color: white;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* HEADER LEFT SIDE */
.left_side {
  /*  border: solid 1px white; */
  width: 50%;
  height: 40rem;
  top: 10rem;
}

@media screen and (max-width: 100em) {
  .left_side {
    height: 30rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .left_side {
    height: 52rem;
    width: 20rem;
    top: 0;
    position: relative;
  }
}

@media screen and (max-width: 55rem) {
  .left_side {
    width: 10rem;
  }
}

.left_side-h1 {
  /*  border: solid 2px green; */
  font-size: 10rem;
  font-weight: 500;
  color: #525a66;
  text-transform: uppercase;
}

@media screen and (max-width: 100em) {
  .left_side-h1 {
    text-align: center;
  }
}

@media screen and (max-width: 87.43755em) {
  .left_side-h1 {
    font-size: 8rem;
    z-index: -10;
  }
}

@media screen and (max-width: 65.9375em) {
  .left_side-h1 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-size: 8rem;
    font-weight: 800;
    position: absolute;
    top: 10rem;
    width: 40rem;
  }
}

.left_side-info {
  /*     border: solid 1px yellow; */
  font-size: 1.5rem;
  color: #383e46;
}

@media screen and (max-width: 65.9375em) {
  .left_side-info {
    position: absolute;
    width: 40rem;
    bottom: -3rem;
    left: 5rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 55rem) {
  .left_side-info {
    width: 30rem;
    bottom: 5rem;
    left: 9rem;
  }
}

@media screen and (max-width: 40rem) {
  .left_side-info {
    width: 20rem;
    left: 11rem;
  }
}

/* BACHELOR */
@media screen and (max-width: 55rem) {
  video > source {
    width: 100%;
  }
}

.bachelor {
  /*  border: solid 1px yellow; */
  width: 80%;
  height: 50rem;
  top: 60rem;
  margin: auto;
}

@media screen and (max-width: 100em) {
  .bachelor {
    width: 90%;
    top: 50rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .bachelor {
    height: 70rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .bachelor {
    top: 10rem;
    height: 60rem;
  }
}

@media screen and (max-width: 55rem) {
  .bachelor {
    top: 0rem;
    height: 50rem;
  }
}

.bachelor_items {
  /*   border: solid 1px rgb(13, 151, 105); */
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 74.9375em) {
  .bachelor_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bachelor-h2 > h2 {
  color: #525a66;
  font-size: 9rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #d5c1ba;
  text-shadow: 1px 1px 0px #525a66;
}

@media screen and (max-width: 100em) {
  .bachelor-h2 > h2 {
    font-size: 8rem;
  }
}

@media screen and (max-width: 87.43755em) {
  .bachelor-h2 > h2 {
    font-size: 7rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .bachelor-h2 > h2 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .bachelor-h2 > h2 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 55rem) {
  .bachelor-h2 > h2 {
    font-size: 3rem;
  }
}

.bachelor_info {
  /*   border: solid 1px rgb(185, 13, 134); */
  height: 30rem;
  margin: 1rem;
}

@media screen and (max-width: 65.9375em) {
  .bachelor_info {
    height: 25rem;
  }
}

.bachelor_info-title {
  /*  border: solid 1px white; */
  font-size: 7rem;
  font-weight: 400;
  color: #525a66;
}

@media screen and (max-width: 87.43755em) {
  .bachelor_info-title {
    font-size: 6rem;
  }
}

@media screen and (max-width: 55rem) {
  .bachelor_info-title {
    font-size: 4rem;
  }
}

.bachelor_info-year {
  /* border: solid 1px white; */
  font-size: 3rem;
  font-weight: 400;
  color: #525a66;
  margin-top: 1rem;
}

.bachelor_info-txt {
  /* border: solid 1px orange; */
  font-size: 1.5rem;
}

a.bachelor_btn {
  font-size: 1.5rem;
  z-index: 100;
  bottom: 2rem;
}

/* SELECTION - CONTAINER */
.selection_container {
  /*   border: solid 1px white; */
  margin: 20rem 3rem 10rem 3rem;
  top: 50rem;
}

@media screen and (max-width: 100em) {
  .selection_container {
    top: 40rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .selection_container {
    top: 0;
  }
}

@media screen and (max-width: 55rem) {
  .selection_container {
    top: -5rem;
  }
}

img.semester {
  width: 20rem;
  height: 30rem;
  margin: 0;
  padding: 0;
  z-index: -1;
}

@media screen and (max-width: 55rem) {
  img.semester {
    position: absolute;
    top: 5rem;
    left: 8rem;
  }
}

@media screen and (max-width: 40rem) {
  img.semester {
    left: 3rem;
  }
}

/* SEMESTER - CONTAINER */
.semester_container {
  /*   border: solid 1px rgb(39, 74, 189); */
  margin: 5rem 0 10rem 0;
  width: 90%;
  height: 30em;
}

@media screen and (max-width: 74.9375em) {
  .semester_container {
    width: 100%;
  }
}

@media screen and (max-width: 65.9375em) {
  .semester_container {
    height: 40rem;
    margin: 2rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .semester_container {
    width: 80%;
  }
}

@media screen and (max-width: 55rem) {
  .semester_container {
    /* display: block; */
    position: relative;
    width: 100%;
  }
}

.semester_container-color_div-first {
  background-color: #8d8d8c;
  z-index: -5;
  width: 20rem;
  height: 60rem;
  right: 1rem;
  top: 0;
}

@media screen and (max-width: 100em) {
  .semester_container-color_div-first {
    height: 55rem;
  }
}

@media screen and (max-width: 55rem) {
  .semester_container-color_div-first {
    display: none;
  }
}

.semester_container-color_div-third {
  background-color: #beada5;
  z-index: -5;
  width: 15rem;
  height: 60rem;
  left: 0;
  top: 5rem;
}

@media screen and (max-width: 87.43755em) {
  .semester_container-color_div-third {
    display: none;
  }
}

.semester_container-color_div-sixth {
  background-color: #b3b0bc;
  z-index: -5;
  width: 20rem;
  height: 60rem;
  right: 1rem;
  bottom: -10rem;
}

@media screen and (max-width: 55rem) {
  .semester_container-color_div-sixth {
    display: none;
  }
}

.semester_container-preinfo {
  /*    border: solid 1px red; */
  font-family: "Bebas Neue Pro";
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 4rem;
  width: 40rem;
}

@media screen and (max-width: 65.9375em) {
  .semester_container-preinfo {
    display: none;
  }
}

.semester_container-titel {
  color: #000;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3rem;
  margin: 2rem;
}

@media screen and (max-width: 87.43755em) {
  .semester_container-titel {
    z-index: 10;
  }
}

@media screen and (max-width: 65.9375em) {
  .semester_container-titel {
    font-size: 5rem;
    text-align: center;
  }
}

@media screen and (max-width: 55rem) {
  .semester_container-titel {
    height: 10rem;
    width: 100%;
    font-size: 4rem;
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width: 40rem) {
  .semester_container-titel {
    left: 0rem;
  }
}

.semester_container-image_wraper {
  /*  border: 1px yellow; */
}

.semester_container-image_wraper-year {
  z-index: 10;
}

h4.year {
  /*  border: solid 1px yellow; */
  font-size: 10rem;
  font-family: "Bebas Neue Pro Expanded";
  font-weight: 600;
  color: rgba(255, 255, 255, 0.459);
  margin-left: 2rem;
}

@media screen and (max-width: 74.9375em) {
  h4.year {
    position: relative;
  }
}

@media screen and (max-width: 55rem) {
  h4.year {
    display: none;
  }
}

/* SECOND CIRCLE  */
.afterSemester_circle {
  width: 30rem;
  height: 30rem;
  border: solid 2px white;
  border-radius: 50%;
  bottom: -30rem;
  margin: 0 0 0 30rem;
}

@media screen and (max-width: 87.43755em) {
  .afterSemester_circle {
    width: 20rem;
    height: 20rem;
    left: -5rem;
  }
}

@media screen and (max-width: 55rem) {
  .afterSemester_circle {
    display: none;
  }
}

/* JENNY NGUYEN */
.jennyNguyen {
  /*  border: solid 1px yellow; */
  z-index: -1;
  width: 30%;
  height: 60rem;
  left: 5rem;
  background-color: #cdcad8;
  bottom: -20rem;
}

@media screen and (max-width: 87.43755em) {
  .jennyNguyen {
    height: 50rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .jennyNguyen {
    width: 40%;
  }
}

@media screen and (max-width: 65.9375em) {
  .jennyNguyen {
    top: -80rem;
    width: 35rem;
    height: 60rem;
  }
}

@media screen and (max-width: 55rem) {
  .jennyNguyen {
    top: -10rem;
    left: 3rem;
  }
}

@media screen and (max-width: 40rem) {
  .jennyNguyen {
    left: 0;
    width: 30rem;
  }
}

.jennyNguyen_portrait {
  /*  border: solid 1px black; */
  width: 80%;
  margin-top: 5rem;
}

.jennyNguyen-name {
  font-size: 4rem;
  font-weight: 400;
  margin: 2rem 0;
}

@media screen and (max-width: 55rem) {
  .jennyNguyen-name {
    font-size: 5rem;
  }
}

.jennyNguyen-infos {
  /*  border: solid 1px khaki; */
  border: solid 3px #c0b0b0;
  width: 50%;
  height: 30rem;
  display: block;
  float: right;
  margin-right: 10rem;
  margin-top: 35rem;
  cursor: none;
}

@media screen and (max-width: 100em) {
  .jennyNguyen-infos {
    margin-right: 5rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .jennyNguyen-infos {
    margin-right: 0;
  }
}

@media screen and (max-width: 65.9375em) {
  .jennyNguyen-infos {
    border: none;
    cursor: default;
  }
}

@media screen and (max-width: 55rem) {
  .jennyNguyen-infos {
    position: absolute;
    left: 3rem;
    width: 80%;
    margin-top: 50rem;
  }
}

.jennyNguyen-infos-p {
  font-size: 3rem;
  color: #d5c1ba;
}

@media screen and (max-width: 74.9375em) {
  .jennyNguyen-infos-p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .jennyNguyen-infos-p {
    color: #000;
    margin-top: 5rem;
  }
}

/* CURSOR CUSTOM */
.hiddenCursor {
  width: 15rem;
  height: 15rem;
  border: solid 1px #c0b0b0;
  background-color: #383e46;
  z-index: -5;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

@media screen and (max-width: 65.9375em) {
  .hiddenCursor {
    display: none;
  }
}

/* LETS TALK */
.lets_talk {
  /*   border: solid 1px yellow; */
  width: 100%;
  top: 30rem;
}

@media screen and (max-width: 65.9375em) {
  .lets_talk {
    top: -50rem;
  }
}

@media screen and (max-width: 55rem) {
  .lets_talk {
    top: 15rem;
  }
}

.lets_talk h2 {
  font-size: 10rem;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #525a66;
}

/* CONTACT FORM */
.contact_me {
  /* border: solid 1px white; */
  bottom: -50rem;
  margin: auto;
  width: 90%;
  height: 30rem;
  z-index: 100;
}

@media screen and (max-width: 100em) {
  .contact_me {
    bottom: -40rem;
  }
}

@media screen and (max-width: 87.43755em) {
  .contact_me {
    bottom: -30rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .contact_me {
    bottom: 40rem;
  }
}

@media screen and (max-width: 55rem) {
  .contact_me {
    bottom: -20rem;
  }
}

.contact_me-nameEtc {
  /*  border: solid 1px yellow; */
  background-color: #93929e;
  width: 50%;
  height: 20rem;
}

@media screen and (max-width: 87.43755em) {
  .contact_me-nameEtc {
    width: 100%;
  }
}

.contact_me-message {
  /* border: solid 1px yellow; */
  background-color: #7a7987;
  width: 50%;
  height: 20rem;
  right: 0;
}

@media screen and (max-width: 87.43755em) {
  .contact_me-message {
    width: 100%;
    bottom: -20rem;
  }
}

form label {
  font-size: 1.3rem;
  letter-spacing: 5px;
  font-weight: 400;
  margin: 1rem 0;
  color: #fff;
}

form input {
  width: 15rem;
  height: 2rem;
  border: #fff solid 1px;
  background-color: #d5c1ba;
  text-align: center;
  letter-spacing: 2px;
}

form input:active {
  border: none;
}

@media screen and (max-width: 74.9375em) {
  form input {
    width: 10rem;
  }
}

textarea {
  width: 80%;
  background-color: #d5c1ba;
  text-align: center;
}

@media screen and (max-width: 74.9375em) {
  textarea {
    width: 50%;
  }
}

input[type="submit"],
input[type="reset"] {
  margin: 1rem;
  letter-spacing: 5px;
}

/* NAVIGATION XSMALL */
.nav_xsmall {
  display: none;
  top: 0;
  width: 100vw;
  z-index: 999;
  background-color: #beada5be;
}

.nav_xsmall h6 {
  font-size: 2rem;
  text-align: center;
}

.nav_xsmall i {
  font-size: 2rem;
  color: #fff;
  width: 100%;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
}

/* FOOTER */
@media screen and (max-width: 100em) {
  #hp_footer div {
    width: 40%;
  }
}

@media screen and (max-width: 55rem) {
  #hp_footer div {
    width: 70%;
  }
}

@media screen and (max-width: 55rem) {
  #hp_footer div.footer_jennysName {
    display: none;
  }
}

#hp_footer a:hover {
  color: #383e46;
}

@media screen and (max-width: 74.9375em) {
  #hp_footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 40rem) {
  #hp_footer a {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 74.9375em) {
  #hp_footer a i {
    font-size: 3rem;
  }
}

@media screen and (max-width: 40rem) {
  #hp_footer #footer_icon {
    font-size: 1.5rem;
  }
}

#seventh_nav {
  background-color: #d5c1ba;
}

/* 2020 */
.twentytwenty {
  font-size: 20rem;
  color: #525a66;
}

@media screen and (max-width: 65.9375em) {
  .twentytwenty {
    font-size: 10rem;
  }
}

@media screen and (max-width: 55rem) {
  .twentytwenty {
    display: none;
  }
}

.twentytwenty-wrap {
  /*  border: solid 1px rgb(168, 168, 19); */
  width: auto;
  height: auto;
  right: 1rem;
  top: 2rem;
  z-index: 5;
}

/* HEADER */
header.voice_over {
  /*   border: solid 1px yellow; */
  width: 90%;
  height: 100%;
  top: 10rem;
  right: 5rem;
  z-index: -10;
}

@media screen and (max-width: 87.43755em) {
  header.voice_over {
    height: 40rem;
  }
}

@media screen and (max-width: 55rem) {
  header.voice_over {
    right: 0;
  }
}

.voice_over-header {
  /*    border: solid 1px violet; */
  width: 80%;
  height: 30rem;
}

@media screen and (max-width: 100em) {
  .voice_over-header {
    width: 90%;
    left: 0;
  }
}

.voice_over-header_text {
  font-size: 10rem;
  font-weight: 300;
  letter-spacing: 5px;
  color: #383e46;
}

@media screen and (max-width: 100em) {
  .voice_over-header_text {
    font-size: 8rem;
  }
}

@media screen and (max-width: 87.43755em) {
  .voice_over-header_text {
    font-size: 5rem;
    font-weight: 400;
    color: #383e46;
  }
}

@media screen and (max-width: 65.9375em) {
  .voice_over-header_text {
    font-size: 4rem;
  }
}

@media screen and (max-width: 40rem) {
  .voice_over-header_text {
    font-size: 3rem;
  }
}

.voice_over-header_text span {
  font-weight: 400;
}

@media screen and (max-width: 87.43755em) {
  .voice_over-header_text span {
    font-weight: 600;
    color: #525a66;
    text-shadow: 2px 1px 0 #fff;
  }
}

.voice_over-header-right {
  width: 20%;
  height: 60rem;
  right: 0;
  background-color: #d9cbcb;
}

/* Gallery */
.gallery_wrapper {
  /* border: solid 1px yellow; */
  width: 80%;
  height: 50rem;
  margin: auto;
  top: 105rem;
}

@media screen and (max-width: 100em) {
  .gallery_wrapper {
    top: 90rem;
  }
}

@media screen and (max-width: 87.43755em) {
  .gallery_wrapper {
    top: 50rem;
    margin: 0 0 0 2rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .gallery_wrapper {
    margin: auto;
  }
}

@media screen and (max-width: 40rem) {
  .gallery_wrapper {
    top: 45rem;
  }
}

.bigImg {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 87.43755em) {
  .bigImg {
    display: none;
  }
}

.smallImg {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

@media screen and (max-width: 87.43755em) {
  .smallImg {
    width: 100%;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 40rem) {
  .smallImg {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

img.small {
  cursor: pointer;
  width: 100%;
}

img.small:hover {
  opacity: 0.7;
}

img.bigImg_img {
  height: 100%;
}

.nextToGallery {
  /* border: solid 1px sandybrown; */
  width: 80%;
  margin: auto;
  top: 160rem;
}

@media screen and (max-width: 87.43755em) {
  .nextToGallery {
    top: 185rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .nextToGallery {
    top: 170rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .nextToGallery {
    top: 150rem;
  }
}

@media screen and (max-width: 55rem) {
  .nextToGallery {
    top: 130rem;
  }
}

@media screen and (max-width: 40rem) {
  .nextToGallery {
    top: 220rem;
  }
}

.nextToGallery h5 {
  font-size: 2.5rem;
  font-weight: 500;
}

@media screen and (max-width: 74.9375em) {
  .nextToGallery h5 {
    font-size: 2rem;
  }
}

/* video */
.video_wrapper {
  /*   border: solid 1px yellow; */
  width: 90%;
  height: 30rem;
  margin: auto;
  top: 120rem;
}

@media screen and (max-width: 87.43755em) {
  .video_wrapper {
    top: 140rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .video_wrapper {
    top: 125rem;
    width: 80%;
  }
}

@media screen and (max-width: 65.9375em) {
  .video_wrapper {
    top: 110rem;
  }
}

@media screen and (max-width: 55rem) {
  .video_wrapper {
    top: 90rem;
  }
}

@media screen and (max-width: 40rem) {
  .video_wrapper {
    top: 165rem;
  }
}

.video_wrapper video {
  width: 50%;
  right: 0;
}

@media screen and (max-width: 87.43755em) {
  .video_wrapper video {
    width: 80%;
  }
}

@media screen and (max-width: 74.9375em) {
  .video_wrapper video {
    width: 100%;
  }
}

.video_text {
  /*  border: solid 1px violet; */
  width: 70%;
  margin: auto;
  top: 130rem;
}

@media screen and (max-width: 87.43755em) {
  .video_text {
    top: 150rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .video_text {
    top: 130rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .video_text {
    top: 130rem;
  }
}

@media screen and (max-width: 55rem) {
  .video_text {
    top: 100rem;
  }
}

@media screen and (max-width: 40rem) {
  .video_text {
    top: 160rem;
  }
}

.video_text h5 {
  font-size: 2.5rem;
  font-weight: 500;
}

@media screen and (max-width: 74.9375em) {
  .video_text h5 {
    font-size: 2rem;
  }
}

#footer-wrapper_seventh {
  position: relative;
  top: 150rem;
}

@media screen and (max-width: 87.43755em) {
  #footer-wrapper_seventh {
    top: 160rem;
  }
}

@media screen and (max-width: 74.9375em) {
  #footer-wrapper_seventh {
    top: 140rem;
  }
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_seventh {
    top: 120rem;
  }
}

@media screen and (max-width: 40rem) {
  #footer-wrapper_seventh {
    top: 175rem;
  }
}

#footer-wrapper_seventh footer {
  height: 5rem;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_seventh footer #footer_icon {
    font-size: 1.5rem;
  }
}

#footer-wrapper_seventh footer a {
  color: #383e46;
}

#footer-wrapper_seventh footer a:hover {
  color: #fff;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_seventh footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_seventh footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 40rem) {
  #footer-wrapper_seventh footer a {
    font-size: 0.7rem;
  }
}

#footer-wrapper_seventh footer a i:hover {
  color: white;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_seventh footer a i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 100em) {
  #footer-wrapper_seventh footer > div {
    width: 40%;
  }
}

@media screen and (max-width: 100em) and (max-width: 74.9375em) {
  #footer-wrapper_seventh footer > div {
    width: 50%;
  }
}

@media screen and (max-width: 100em) and (max-width: 65.9375em) {
  #footer-wrapper_seventh footer > div {
    width: 60%;
  }
}

@media screen and (max-width: 100em) and (max-width: 55rem) {
  #footer-wrapper_seventh footer > div {
    width: 80%;
  }
}

#first_nav {
  background-color: #620101;
}

#first_nav a {
  color: white;
  font-weight: 400;
}

/* HEADER */
.header_martyr {
  /*   border: solid 1px white; */
  z-index: -99;
  width: 90%;
  height: 80vh;
  top: 0rem;
  margin-left: 5rem;
}

@media screen and (max-width: 55rem) {
  .header_martyr {
    left: -3rem;
  }
}

.header_martyr-video {
  right: 0;
}

.header_martyr-img {
  width: 20rem;
  height: auto;
  bottom: 0;
}

.header_martyr-img_aside {
  width: 30rem;
  right: 0;
  z-index: -5;
}

.header_martyr-heading {
  /*   border: solid 2px green; */
  width: 100%;
  height: auto;
  top: 40%;
}

@media screen and (max-width: 65.9375em) {
  .header_martyr-heading {
    display: block;
    top: 2rem;
  }
}

@media screen and (max-width: 55rem) {
  .header_martyr-heading {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.header_martyr-heading-wrapper_first {
  /*   border: solid 1px yellow; */
  width: 100%;
  height: 4rem;
  background-color: #620101;
  -webkit-animation: widthDiv 3s;
          animation: widthDiv 3s;
}

@media screen and (max-width: 65.9375em) {
  .header_martyr-heading-wrapper_first {
    -webkit-animation: none;
            animation: none;
    top: 0;
  }
}

@media screen and (max-width: 55rem) {
  .header_martyr-heading-wrapper_first {
    background-color: rgba(255, 255, 255, 0);
  }
}

.header_martyr-heading-wrapper_second {
  /*  border: solid 1px violet; */
  height: 4rem;
  width: 100%;
  z-index: -5;
  -webkit-animation: topToBottom 4s;
          animation: topToBottom 4s;
}

@media screen and (max-width: 65.9375em) {
  .header_martyr-heading-wrapper_second {
    -webkit-animation: none;
            animation: none;
    top: 0;
  }
}

.header_martyr-heading-h1_first, .header_martyr-heading-h1_second {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (max-width: 65.9375em) {
  .header_martyr-heading-h1_first, .header_martyr-heading-h1_second {
    font-size: 3rem;
  }
}

@media screen and (max-width: 55rem) {
  .header_martyr-heading-h1_first, .header_martyr-heading-h1_second {
    font-size: 5rem;
    text-align: center;
  }
}

.header_martyr-heading-h1_first {
  -webkit-animation: oppacity_fromZero ease-in 3s;
          animation: oppacity_fromZero ease-in 3s;
}

@media screen and (max-width: 65.9375em) {
  .header_martyr-heading-h1_first {
    -webkit-animation: none;
            animation: none;
  }
}

.header_martyr-heading-h1_second {
  -webkit-animation: oppacity_fromZero ease-in 3s;
          animation: oppacity_fromZero ease-in 3s;
  color: #620101;
}

@media screen and (max-width: 65.9375em) {
  .header_martyr-heading-h1_second {
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 55rem) {
  .header_martyr-heading-h1_second {
    color: #fff;
  }
}

/*VIDEO */
.video_wrapper-first {
  width: 100%;
  height: 5rem;
  top: 5rem;
  overflow: hidden;
  -webkit-animation: toRight ease 3s;
          animation: toRight ease 3s;
}

@media screen and (max-width: 65.9375em) {
  .video_wrapper-first {
    display: none;
  }
}

.video_wrapper-second {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  bottom: 0;
  left: 25%;
  -webkit-animation: fromLeft ease 3s;
          animation: fromLeft ease 3s;
}

@media screen and (max-width: 65.9375em) {
  .video_wrapper-second {
    -webkit-animation: none;
            animation: none;
    height: 30rem;
    left: 0;
  }
}

@media screen and (max-width: 55rem) {
  .video_wrapper-second {
    height: 100%;
    opacity: 0.5;
    z-index: -99;
  }
}

.after_header {
  /*   border: solid 1px yellow; */
  width: 100%;
  height: 10rem;
  top: 100%;
}

.after_header_text {
  font-size: 1.7rem;
  font-weight: 400;
  color: #620101;
}

@media screen and (max-width: 74.9375em) {
  .after_header_text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .after_header_text {
    font-size: 1.8rem;
    text-align: center;
  }
}

/* SIMPLE GALLERY */
section.images {
  /*   border: solid 1px yellow; */
  width: 100%;
  margin: auto;
  top: 20rem;
}

.grid_gallery {
  width: 60%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 65.9375em) {
  .grid_gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.firstSemImg {
  width: 100%;
  cursor: pointer;
}

.firstSemImg:hover {
  opacity: 0.7;
}

.lightBox {
  /* border: soldi 1px black; */
  width: 100%;
  height: 100%;
  background-color: #620101c7;
  left: -100%;
}

.lightBox_info {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}

.lightBox_img {
  height: 80%;
}

.lightBox_close {
  font-size: 3rem;
  color: white;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.lightBox_close:hover {
  font-size: 3.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 65.9375em) {
  .lightBox {
    display: none;
  }
}

#footer-wrapper_first {
  /* border: solid 1px yellow; */
  position: relative;
  top: 30em;
  height: 5rem;
}

#footer-wrapper_first footer {
  height: 5rem;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_first footer #footer_icon {
    font-size: 1.5rem;
  }
}

#footer-wrapper_first footer a {
  color: #383e46;
}

#footer-wrapper_first footer a:hover {
  color: #fff;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_first footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_first footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 40rem) {
  #footer-wrapper_first footer a {
    font-size: 0.7rem;
  }
}

#footer-wrapper_first footer a i:hover {
  color: white;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_first footer a i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 100em) {
  #footer-wrapper_first footer > div {
    width: 40%;
  }
}

@media screen and (max-width: 100em) and (max-width: 74.9375em) {
  #footer-wrapper_first footer > div {
    width: 50%;
  }
}

@media screen and (max-width: 100em) and (max-width: 65.9375em) {
  #footer-wrapper_first footer > div {
    width: 60%;
  }
}

@media screen and (max-width: 100em) and (max-width: 55rem) {
  #footer-wrapper_first footer > div {
    width: 80%;
  }
}

#secondSemester {
  background-color: #b7c3d1;
}

#second_nav {
  background-color: #79e2cbc0;
}

/* HEADER GRID */
.header_grid {
  /*  border: solid 1px yellow; */
  height: 100vh;
  width: auto;
  margin: 10rem 5rem 5rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  top: 0;
  z-index: -10;
}

@media screen and (max-width: 55rem) {
  .header_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 130rem;
    left: -5rem;
  }
}

.header_grid-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
}

@media screen and (max-width: 87.43755em) {
  .header_grid-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media screen and (max-width: 74.9375em) {
  .header_grid-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media screen and (max-width: 55rem) {
  .header_grid-info {
    width: 90%;
  }
}

.header_grid-info_p {
  font-size: 1.5rem;
}

@media screen and (max-width: 55rem) {
  .header_grid-info_p {
    font-size: 2rem;
    margin-top: 25rem;
    font-weight: 400;
  }
}

.header_grid-info_heading {
  text-transform: uppercase;
  font-size: 2.5rem;
}

@media screen and (max-width: 55rem) {
  .header_grid-info_heading {
    font-size: 2.7rem;
  }
}

.header_grid-img_one {
  background-image: url("../05_images/02_Semester/01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -webkit-animation: topToBottom ease 4s;
          animation: topToBottom ease 4s;
}

@media screen and (max-width: 87.43755em) {
  .header_grid-img_one {
    -webkit-animation: none;
            animation: none;
    background-size: contain;
  }
}

@media screen and (max-width: 74.9375em) {
  .header_grid-img_one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2/6;
    background-size: cover;
  }
}

@media screen and (max-width: 55rem) {
  .header_grid-img_one {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1/7;
    opacity: 0.6;
    z-index: -10;
    background-position: right;
  }
}

.header_grid-img_two {
  background-image: url("../05_images/02_Semester/04.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -webkit-animation: topToBottom ease 4s;
          animation: topToBottom ease 4s;
}

@media screen and (max-width: 87.43755em) {
  .header_grid-img_two {
    -webkit-animation: none;
            animation: none;
    background-size: contain;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4/8;
  }
}

@media screen and (max-width: 74.9375em) {
  .header_grid-img_two {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6/10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
    background-size: cover;
  }
}

@media screen and (max-width: 55rem) {
  .header_grid-img_two {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7/10;
  }
}

.header_grid-img_three {
  background-image: url("../05_images/02_Semester/03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -webkit-animation: topToBottom ease 4s;
          animation: topToBottom ease 4s;
}

@media screen and (max-width: 87.43755em) {
  .header_grid-img_three {
    -webkit-animation: none;
            animation: none;
    background-size: contain;
  }
}

@media screen and (max-width: 74.9375em) {
  .header_grid-img_three {
    -ms-grid-column: 8;
    -ms-grid-column-span: 2;
    grid-column: 8/10;
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    grid-row: 4/9;
    background-size: cover;
  }
}

@media screen and (max-width: 55rem) {
  .header_grid-img_three {
    display: none;
  }
}

/* SECTION MIDDLE */
h6 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 5px;
  color: white;
}

h6.line_one,
h6.line_three {
  -webkit-animation: oppacity 2s infinite ease-in-out alternate;
          animation: oppacity 2s infinite ease-in-out alternate;
}

h6.line_two {
  animation: oppacity 3s infinite ease-in-out alternate reverse;
}

.middle {
  /*   border: solid 1px yellow */
  width: 90%;
  margin: 5rem;
  bottom: -60rem;
}

@media screen and (max-width: 87.43755em) {
  .middle {
    bottom: -50rem;
  }
}

.middle-words_div {
  width: 100%;
  height: 20rem;
}

@media screen and (max-width: 55rem) {
  .middle-words_div {
    display: none;
  }
}

.middle-words_div-line {
  /* border: solid 1px fuchsia; */
  width: 100%;
  height: 5rem;
  margin: 5rem 0;
  z-index: -5;
}

.middle-image-grid {
  /*   border: solid 1px pink; */
  width: 100%;
  bottom: -100rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 74.9375em) {
  .middle-image-grid {
    height: 50rem;
    bottom: -30rem;
  }
}

@media screen and (max-width: 55rem) {
  .middle-image-grid {
    display: block;
    top: 10rem;
  }
}

.middle-image_wrap-one, .middle-image_wrap-two, .middle-image_wrap-three {
  width: 20rem;
  height: 100%;
}

.middle-image_wrap-one {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
}

@media screen and (max-width: 74.9375em) {
  .middle-image_wrap-one {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.middle-image_wrap-two {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media screen and (max-width: 74.9375em) {
  .middle-image_wrap-two {
    -ms-grid-column: 5;
    grid-column: 5;
  }
}

.middle-image_wrap-three {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 4;
  grid-row: 4;
}

@media screen and (max-width: 74.9375em) {
  .middle-image_wrap-three {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
  }
}

.end_text {
  /*   border: solid 1px yellow */
  width: 80vw;
  left: 0;
  margin: 4rem;
}

@media screen and (max-width: 74.9375em) {
  .end_text {
    text-align: center;
    width: 90vw;
    left: -6rem;
  }
}

@media screen and (max-width: 55rem) {
  .end_text {
    left: -8rem;
  }
}

.end_text-p {
  font-size: 1.7rem;
}

#footer-wrapper_second {
  position: relative;
  top: 230rem;
}

@media screen and (max-width: 87.43755em) {
  #footer-wrapper_second {
    top: 210rem;
  }
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_second {
    top: 260rem;
  }
}

#footer-wrapper_second footer {
  height: 5rem;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_second footer #footer_icon {
    font-size: 1.5rem;
  }
}

#footer-wrapper_second footer a {
  color: #383e46;
}

#footer-wrapper_second footer a:hover {
  color: #fff;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_second footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_second footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 40rem) {
  #footer-wrapper_second footer a {
    font-size: 0.7rem;
  }
}

#footer-wrapper_second footer a i:hover {
  color: white;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_second footer a i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 100em) {
  #footer-wrapper_second footer > div {
    width: 40%;
  }
}

@media screen and (max-width: 100em) and (max-width: 74.9375em) {
  #footer-wrapper_second footer > div {
    width: 50%;
  }
}

@media screen and (max-width: 100em) and (max-width: 65.9375em) {
  #footer-wrapper_second footer > div {
    width: 60%;
  }
}

@media screen and (max-width: 100em) and (max-width: 55rem) {
  #footer-wrapper_second footer > div {
    width: 80%;
  }
}

#thirdSemester {
  background-color: #d1c7c5;
}

#third_nav {
  background-color: #d9b500;
}

/* Asides */
.left {
  /*   border: solid 1px yellow */
  top: 10rem;
  width: 10rem;
  height: 150rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  z-index: -10;
}

.left_img {
  width: 100%;
}

@media screen and (max-width: 55rem) {
  .left {
    display: none;
  }
}

.right {
  /*  border: solid 1px yellow */
  right: 0;
  top: 10rem;
  width: 10rem;
  height: 120rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.right_img {
  width: 100%;
}

@media screen and (max-width: 65.9375em) {
  .right {
    display: none;
  }
}

/* Header */
.thirdSem {
  /*   border: solid 1px rgb(182, 25, 122); */
  width: 70%;
  height: 100%;
  top: 10rem;
  left: 15rem;
  z-index: -10;
}

@media screen and (max-width: 65.9375em) {
  .thirdSem {
    height: 40rem;
    width: 80%;
    left: 10rem;
  }
}

@media screen and (max-width: 55rem) {
  .thirdSem {
    left: 0;
    width: 100%;
  }
}

.thirdSem_img {
  width: 30rem;
  background-image: url("../05_images/03_Semester/4.JPG");
  -webkit-animation: imgHeight ease-in-out forwards 3s;
          animation: imgHeight ease-in-out forwards 3s;
}

@media screen and (max-width: 74.9375em) {
  .thirdSem_img {
    width: 100%;
    margin-top: 6rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .thirdSem_img {
    -webkit-animation: none;
            animation: none;
    height: 100%;
    width: 50%;
  }
}

@media screen and (max-width: 55rem) {
  .thirdSem_img {
    width: 100%;
    margin-top: 20rem;
  }
}

.thirdSem_h1 {
  top: 0;
  right: 0;
}

@media screen and (max-width: 100em) {
  .thirdSem_h1 {
    width: 50%;
    right: 0;
  }
}

@media screen and (max-width: 74.9375em) {
  .thirdSem_h1 {
    width: 100%;
    top: -3rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .thirdSem_h1 {
    width: 50%;
    right: 0;
  }
}

@media screen and (max-width: 55rem) {
  .thirdSem_h1 {
    width: 100%;
  }
}

.thirdSem_h1_text {
  /*   border: solid 1px green; */
  font-size: 7rem;
  color: #8c6003;
  text-shadow: 5px 5px 2px #c8bbb2;
}

@media screen and (max-width: 100em) {
  .thirdSem_h1_text {
    font-size: 6rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .thirdSem_h1_text {
    font-size: 5rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .thirdSem_h1_text {
    font-size: 4rem;
  }
}

.karlsruhe {
  /*   border: solid 1px hotpink */
  width: 60%;
  height: 30rem;
  bottom: -80rem;
  left: 20rem;
}

@media screen and (max-width: 74.9375em) {
  .karlsruhe {
    left: 15rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .karlsruhe {
    bottom: -60rem;
    width: 80%;
    left: 10rem;
  }
}

@media screen and (max-width: 55rem) {
  .karlsruhe {
    left: 0;
    width: 100%;
    bottom: -70rem;
  }
}

.karlsruhe_img {
  background-image: url("../05_images/03_Semester/00.jpg");
  width: 20rem;
  height: 100%;
}

@media screen and (max-width: 55rem) {
  .karlsruhe_img {
    width: 50%;
  }
}

@media screen and (max-width: 55rem) {
  .karlsruhe_img {
    width: 40%;
  }
}

.karlsruhe_info {
  width: 50%;
}

.karlsruhe_info h1 {
  font-size: 3rem;
}

.karlsruhe_info p {
  font-size: 1.5rem;
}

#slideshow {
  /*  border: solid 1px greenyellow; */
  bottom: -90rem;
  left: -15rem;
  width: 100%;
  overflow: hidden;
  margin: 20px auto 0 auto;
}

@media screen and (max-width: 100em) {
  #slideshow {
    left: 0;
  }
}

@media screen and (max-width: 65.9375em) {
  #slideshow {
    bottom: -70rem;
  }
}

@media screen and (max-width: 55rem) {
  #slideshow {
    bottom: -80rem;
  }
}

#slideshow ul {
  position: relative;
  height: 200px;
  list-style: none;
}

/* Slides */
#slideshow ul li {
  position: relative;
  display: block;
  float: left;
  width: 45rem;
  height: 45rem;
  text-align: center;
  line-height: 300px;
}

@media screen and (max-width: 65.9375em) {
  #slideshow ul li {
    width: 30rem;
    height: 30rem;
  }
}

.img_one {
  background-image: url("../05_images/03_Semester/2.JPG");
  background-size: contain;
  width: 100%;
  height: 100%;
}

.img_two {
  background-image: url("../05_images/03_Semester/3.JPG");
  background-size: contain;
  width: 100%;
  height: 100%;
}

.img_three {
  background-image: url("../05_images/03_Semester/4.JPG");
  background-size: contain;
  width: 100%;
  height: 100%;
}

.img_four {
  background-image: url("../05_images/03_Semester/5.JPG");
  background-size: contain;
  width: 100%;
  height: 100%;
}

a.button_next,
a.button_prev {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #8c6003;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

a.button_prev {
  border-radius: 0 2px 2px 0;
}

a.button_next {
  border-radius: 2px 0 0 2px;
  right: 0;
}

/* More infos */
.baptiste {
  /*   border: solid 1px orange; */
  width: 80%;
  height: 30rem;
  margin: auto;
  bottom: -100rem;
}

@media screen and (max-width: 74.9375em) {
  .baptiste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .baptiste {
    height: 20rem;
    left: 5rem;
    bottom: -80rem;
  }
}

@media screen and (max-width: 55rem) {
  .baptiste {
    left: 0;
  }
}

.baptiste div {
  /*  border: solid 1px yellow; */
  width: 60rem;
  margin: 1rem;
}

@media screen and (max-width: 74.9375em) {
  .baptiste div {
    width: 100%;
  }
}

.baptiste p {
  font-size: 1.7rem;
  font-weight: 400;
}

@media screen and (max-width: 74.9375em) {
  .baptiste p {
    text-align: center;
  }
}

.baptiste_img {
  background-image: url("../05_images/03_Semester/5.jpg");
  width: 20rem;
  height: 30rem;
  background-size: contain;
}

@media screen and (max-width: 74.9375em) {
  .baptiste_img {
    display: none;
  }
}

#footer-wrapper_third {
  position: relative;
  top: 105rem;
}

#footer-wrapper_third footer {
  height: 5rem;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_third footer #footer_icon {
    font-size: 1.5rem;
  }
}

#footer-wrapper_third footer a {
  color: #383e46;
}

#footer-wrapper_third footer a:hover {
  color: #fff;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_third footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_third footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 40rem) {
  #footer-wrapper_third footer a {
    font-size: 0.7rem;
  }
}

#footer-wrapper_third footer a i:hover {
  color: white;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_third footer a i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 100em) {
  #footer-wrapper_third footer > div {
    width: 40%;
  }
}

@media screen and (max-width: 100em) and (max-width: 74.9375em) {
  #footer-wrapper_third footer > div {
    width: 50%;
  }
}

@media screen and (max-width: 100em) and (max-width: 65.9375em) {
  #footer-wrapper_third footer > div {
    width: 60%;
  }
}

@media screen and (max-width: 100em) and (max-width: 55rem) {
  #footer-wrapper_third footer > div {
    width: 80%;
  }
}

#fourthSemester {
  background-color: #b6ae8f;
}

#fourth_nav {
  background-color: #7c7d82;
}

#fourth_nav a {
  color: white;
  font-weight: 400;
}

header.fourth {
  z-index: -10;
  width: 90%;
  margin: auto;
}

.header_fourth {
  /*  border: solid 1px yellow; */
  width: 90%;
  height: 80vh;
  top: 10rem;
  overflow: hidden;
  z-index: -10;
}

@media screen and (max-width: 65.9375em) {
  .header_fourth {
    height: 50vh;
  }
}

.header_fourth-info {
  /*   border: solid 1px black */
  top: 5rem;
  font-size: 10rem;
  color: #f6f3ef;
}

@media screen and (max-width: 87.43755em) {
  .header_fourth-info {
    font-size: 8rem;
    text-align: center;
  }
}

@media screen and (max-width: 65.9375em) {
  .header_fourth-info {
    top: 3rem;
    font-size: 5rem;
  }
}

@media screen and (max-width: 55rem) {
  .header_fourth-info {
    font-size: 3rem;
    width: 100%;
    top: 16rem;
  }
}

.header_fourth-info span {
  font-size: 7rem;
}

@media screen and (max-width: 65.9375em) {
  .header_fourth-info span {
    font-size: 5rem;
  }
}

@media screen and (max-width: 55rem) {
  .header_fourth-info span {
    font-size: 2rem;
  }
}

.header_fourth-video {
  height: 80%;
}

section.fourth {
  /*  border: solid 1px violet; */
  width: 100%;
  height: auto;
  top: 100vh;
}

@media screen and (max-width: 65.9375em) {
  section.fourth {
    top: 40rem;
  }
}

.section_fourth-img-wrapper {
  /*  border: solid 1px yellow; */
  width: 80vw;
  margin: auto;
  height: 100rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 87.43755em) {
  .section_fourth-img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section_fourth-img-wrapper-info p {
  font-size: 3rem;
  letter-spacing: 5px;
  color: #454c38;
}

@media screen and (max-width: 55rem) {
  .section_fourth-img-wrapper-info p {
    font-size: 2rem;
  }
}

img.fourth {
  width: 20rem;
  margin: 10rem;
  -webkit-perspective: 10px;
          perspective: 10px;
  -webkit-perspective-origin: 50%;
          perspective-origin: 50%;
  cursor: pointer;
}

@media screen and (max-width: 87.43755em) {
  img.fourth {
    width: 30rem;
  }
}

@media screen and (max-width: 55rem) {
  img.fourth {
    width: 20rem;
  }
}

/* ON CLICK */
.clickedImg {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.486);
}

.clickedImg img {
  width: 100%;
  height: 100%;
}

#footer-wrapper_fourth {
  position: relative;
  top: 345rem;
}

@media screen and (max-width: 87.43755em) {
  #footer-wrapper_fourth {
    top: 730rem;
  }
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_fourth {
    top: 570rem;
  }
}

#footer-wrapper_fourth footer {
  height: 5rem;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_fourth footer #footer_icon {
    font-size: 1.5rem;
  }
}

#footer-wrapper_fourth footer a {
  color: #383e46;
}

#footer-wrapper_fourth footer a:hover {
  color: #fff;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_fourth footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_fourth footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 40rem) {
  #footer-wrapper_fourth footer a {
    font-size: 0.7rem;
  }
}

#footer-wrapper_fourth footer a i:hover {
  color: white;
}

@media screen and (max-width: 55rem) {
  #footer-wrapper_fourth footer a i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 100em) {
  #footer-wrapper_fourth footer > div {
    width: 40%;
  }
}

@media screen and (max-width: 100em) and (max-width: 74.9375em) {
  #footer-wrapper_fourth footer > div {
    width: 50%;
  }
}

@media screen and (max-width: 100em) and (max-width: 65.9375em) {
  #footer-wrapper_fourth footer > div {
    width: 60%;
  }
}

@media screen and (max-width: 100em) and (max-width: 55rem) {
  #footer-wrapper_fourth footer > div {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */