/* Color_Palette */
/* ACCENT */
/* Hell */
/* Normal */
/* Darker */
/* FIRST SEMESTER */
/* SECOND SEMESTER */
/* Third SEMESTER */
/* Fourth SEMESTER */
/* Font */
/* Breakpoints only for the voice-over :( */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
/* @import url("../css/font_stylesheet.css"); */
@import url("./_variables.scss");
/*  SMALL RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* DISPLAY: FLEX */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-s {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* FLOAT */
.float {
  float: left;
}

.float-r {
  float: right;
}

/* POSITIONING */
.position {
  position: absolute;
}

.position-r {
  position: relative;
}

.position-f {
  position: fixed;
}

/* TEXT-ALIGN */
.text-c {
  text-align: center;
}

/* HEIGHT */
.h-100 {
  height: 100%;
}

/* BOTTOM */
.bottom {
  bottom: 0;
}

/* TOP */
.top {
  top: 0;
}

/* BACKGROUND */
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TRANSITIONS */
.transition {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.transition_slow {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

body {
  max-width: 100vw;
  height: 100%;
  font-family: "Bebas Neue Pro";
  font-stretch: ultra-expanded;
  background-color: #d5c1ba;
  overflow-x: hidden;
  cursor: default;
}

/* BODY BREAKPOINTS SO I SEE WHERE I AM */
@media screen and (max-width: 100em) {
  body {
    background-color: #e2e295;
  }
}

@media screen and (max-width: 87.43755em) {
  body {
    background-color: violet;
  }
}

@media screen and (max-width: 74.9375em) {
  body {
    background-color: #919e91;
  }
}

@media screen and (max-width: 65.9375em) {
  body {
    background-color: #7fb0d1;
  }
}

@media screen and (max-width: null) {
  body {
    background-color: #db9f9f;
  }
}

@media screen and (max-width: null) {
  body {
    background-color: #b7db9f;
  }
}

@media screen and (max-width: null) {
  body {
    background-color: #a59fdb;
  }
}

/* A TAGS */
a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-stretch: ultra-expanded;
  color: #383e46;
}

a.more_about {
  border: solid 1px #7a7987;
  padding: 5px 20px;
  font-size: 1.3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.more_about:hover, a.more_about:active {
  letter-spacing: 2px;
  color: #f3e3e1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  border: solid 1px #c0b0b0;
  background-color: #c0b0b0;
  border-radius: 3px;
}

.btn_more_about {
  margin: 2rem 0;
}

a.semester_collections {
  color: #383e46;
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 100em) {
  a.semester_collections {
    background-color: #d5c1ba;
    margin-top: 1rem;
  }
}

a.semester_collections:hover {
  color: #000;
}

a.jenny_nguyen_logo {
  font-weight: 800;
  letter-spacing: 10px;
  color: #383e46;
}

a.jenny_nguyen_logo:hover {
  font-weight: 600;
}

/* NAVIGATION */
nav.nav_top {
  border: solid 1px yellow;
  width: 70rem;
  height: 5rem;
  margin: 2rem 0 0 5rem;
}

.nav_left {
  border: solid 1px red;
  height: 5rem;
}

.nav_left-dropdown_countainer {
  border: solid 1px yellow;
}

.nav_left-dropdown_items {
  border: solid 1px orange;
  opacity: 0;
  margin-top: 1rem;
}

.nav_left-dropdown-btn {
  cursor: pointer;
  font-size: 1.5rem;
  color: #383e46;
  font-weight: 600;
  letter-spacing: 5px;
  border: none;
  background-color: #d5c1ba;
}

.nav_left-dropdown-btn:hover {
  font-weight: 400;
}

.nav_right {
  border: solid 1px violet;
  width: 20rem;
  height: 5rem;
}

/* CONTACT FORM */
.contact_me {
  /*  border: solid 1px white; */
  bottom: -50rem;
  margin: auto;
  width: 90%;
  height: 30rem;
  z-index: 100;
}

@media screen and (max-width: 87.43755em) {
  .contact_me {
    bottom: -20rem;
  }
}

.contact_me-nameEtc {
  /*  border: solid 1px yellow; */
  background-color: #93929e;
  width: 50%;
  height: 20rem;
}

@media screen and (max-width: 87.43755em) {
  .contact_me-nameEtc {
    width: 100%;
  }
}

.contact_me-message {
  /* border: solid 1px yellow; */
  background-color: #7a7987;
  width: 50%;
  height: 20rem;
  right: 0;
}

@media screen and (max-width: 87.43755em) {
  .contact_me-message {
    width: 100%;
    bottom: -20rem;
  }
}

form label {
  font-size: 1.3rem;
  letter-spacing: 5px;
  font-weight: 400;
  margin: 1rem 0;
  color: #fff;
}

form input {
  width: 15rem;
  height: 2rem;
  border: #fff solid 1px;
  background-color: #d5c1ba;
  text-align: center;
  letter-spacing: 2px;
}

form input:active {
  border: none;
}

@media screen and (max-width: 74.9375em) {
  form input {
    width: 10rem;
  }
}

textarea {
  width: 80%;
  background-color: #d5c1ba;
  text-align: center;
}

@media screen and (max-width: 74.9375em) {
  textarea {
    width: 50%;
  }
}

input[type="submit"],
input[type="reset"] {
  margin: 1rem;
  letter-spacing: 5px;
}

/* FOOTER */
#footer-wrapper {
  /* border: solid 1px yellow; */
  min-height: 100vh;
  position: relative;
}

#footer_icon {
  font-size: 1.3rem;
}

@media screen and (max-width: 74.9375em) {
  #footer_icon {
    font-size: 2rem;
  }
}

#footer_icon > a {
  color: white;
  margin: 1rem;
}

@media screen and (max-width: 87.43755em) {
  #footer_icon > a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 74.9375em) {
  #footer_icon > a {
    font-size: 0rem;
  }
}

footer {
  /*   border: solid 2px wheat; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #c0b0b0;
  z-index: 100;
}

.footer_socialMedia {
  width: 30%;
  height: 100%;
}

@media screen and (max-width: 74.9375em) {
  .footer_socialMedia {
    width: 50%;
  }
}

.footer_jennysName {
  width: 30%;
  background-image: url("../05_images/png_logo/logo_transparent_background.png");
  background-size: contain;
}

@media screen and (max-width: 74.9375em) {
  .footer_jennysName {
    display: none;
  }
}

.footer_top {
  font-size: 2rem;
  z-index: 100;
}

.footer_top p {
  font-weight: 300;
  font-size: 1rem;
  display: none;
}

.footer_top:hover {
  color: white;
}

.footer_arrow {
  width: 5rem;
}

@media screen and (max-width: 100em) {
  #footer_icon a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 87.43755em) {
  #footer_icon a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 74.9375em) {
  #footer_icon a {
    font-size: 1.5rem;
  }
}

@-webkit-keyframes fade-in {
  to {
    color: blue;
  }
}

@keyframes fade-in {
  to {
    color: blue;
  }
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@-webkit-keyframes oppacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes oppacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes oppacity_fromZero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes oppacity_fromZero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes widthDiv {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes widthDiv {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes topToBottom {
  from {
    margin-top: -5rem;
  }
  to {
    margin-top: 0;
  }
}

@keyframes topToBottom {
  from {
    margin-top: -5rem;
  }
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes fromLeft {
  from {
    left: 100%;
  }
  to {
    left: 25%;
  }
}

@keyframes fromLeft {
  from {
    left: 100%;
  }
  to {
    left: 25%;
  }
}

@-webkit-keyframes toRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes toRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes imgHeight {
  from {
    height: 0;
  }
  to {
    height: 60rem;
  }
}

@keyframes imgHeight {
  from {
    height: 0;
  }
  to {
    height: 60rem;
  }
}

/* ASIDE */
.aside_right {
  border: solid 1px wheat;
  width: 50%;
  height: 80rem;
  background-color: #c0b0b0;
  right: 0;
  top: 0;
  z-index: -5;
  /* CIRCLE AND ARROW */
}

.aside_right-slideshow_container {
  border: soldi 1px blueviolet;
  width: 60%;
  margin-top: 10rem;
}

.aside_right-circle {
  width: 20rem;
  height: 20rem;
  border: solid 2px white;
  border-radius: 50%;
  left: -10%;
  top: 40%;
}

em.fa-arrow-down {
  color: white;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* HEADER LEFT SIDE */
.left_side {
  border: solid 1px white;
  width: 50%;
  height: 40rem;
  top: 10rem;
}

@media screen and (max-width: 100em) {
  .left_side {
    height: 30rem;
  }
}

.left_side-h1 {
  font-size: 10rem;
  font-weight: 500;
  color: #525a66;
  text-transform: uppercase;
}

@media screen and (max-width: 100em) {
  .left_side-h1 {
    text-align: center;
  }
}

.left_side-info {
  font-size: 1.5rem;
  color: #383e46;
}

/* BACHELOR */
.bachelor {
  border: solid 1px yellow;
  width: 80%;
  height: 50rem;
  top: 60rem;
  margin: auto;
}

@media screen and (max-width: 100em) {
  .bachelor {
    width: 90%;
    top: 50rem;
  }
}

.bachelor_items {
  border: solid 1px #0d9769;
  width: 100%;
  height: 100%;
}

.bachelor-h2 > h2 {
  color: #525a66;
  font-size: 10rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #d5c1ba;
  text-shadow: 1px 1px 0px #525a66;
}

@media screen and (max-width: 100em) {
  .bachelor-h2 > h2 {
    font-size: 8rem;
  }
}

.bachelor_info {
  border: solid 1px black;
  height: 30rem;
  margin: 1rem;
}

.bachelor_info-title {
  border: solid 1px white;
  font-size: 7rem;
  font-weight: 400;
  color: #525a66;
}

.bachelor_info-year {
  border: solid 1px white;
  font-size: 3rem;
  font-weight: 400;
  color: #525a66;
  margin-top: 1rem;
}

.bachelor_info-txt {
  border: solid 1px orange;
  font-size: 1.5rem;
}

a.bachelor_btn {
  font-size: 1.5rem;
  z-index: 100;
  bottom: 2rem;
}

/* SELECTION - CONTAINER */
.selection_container {
  border: solid 1px white;
  margin: 20rem 3rem 10rem 3rem;
  top: 50rem;
}

@media screen and (max-width: 100em) {
  .selection_container {
    top: 40rem;
  }
}

img.semester {
  width: 20rem;
  height: 30rem;
  margin: 0;
  padding: 0;
  z-index: -1;
}

/* SEMESTER - CONTAINER */
.semester_container {
  border: solid 1px black;
  margin: 5rem 0 10rem 0;
  width: 90%;
  height: 30em;
}

.semester_container-color_div-first {
  background-color: #8d8d8c;
  z-index: -5;
  width: 20rem;
  height: 60rem;
  right: 1rem;
  top: 0;
}

@media screen and (max-width: 100em) {
  .semester_container-color_div-first {
    height: 55rem;
  }
}

.semester_container-color_div-third {
  background-color: #beada5;
  z-index: -5;
  width: 15rem;
  height: 60rem;
  left: 0;
  top: 5rem;
}

.semester_container-color_div-sixth {
  background-color: #b3b0bc;
  z-index: -5;
  width: 20rem;
  height: 60rem;
  right: 1rem;
  bottom: -10rem;
}

.semester_container-preinfo {
  border: solid 1px red;
  font-family: "Bebas Neue Pro";
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 4rem;
  width: 40rem;
}

.semester_container-titel {
  color: #000;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3rem;
  margin: 2rem;
}

.semester_container-image_wraper {
  border: 1px;
}

.semester_container-image_wraper-year {
  z-index: 10;
}

h4.year {
  font-size: 10rem;
  font-family: "Bebas Neue Pro Expanded";
  font-weight: 600;
  color: rgba(255, 255, 255, 0.459);
  margin-left: 2rem;
}

/* SECOND CIRCLE  */
.afterSemester_circle {
  width: 30rem;
  height: 30rem;
  border: solid 2px white;
  border-radius: 50%;
  bottom: -30rem;
  margin: 0 0 0 30rem;
}

/* JENNY NGUYEN */
.jennyNguyen {
  border: solid 1px yellow;
  z-index: -1;
  width: 30%;
  height: 60rem;
  left: 5rem;
  background-color: #cdcad8;
  bottom: -20rem;
}

.jennyNguyen_portrait {
  border: solid 1px black;
  width: 80%;
  margin-top: 5rem;
}

.jennyNguyen-name {
  font-size: 4rem;
  font-weight: 400;
  margin: 2rem 0;
}

.jennyNguyen-infos {
  border: solid 3px #c0b0b0;
  width: 50%;
  height: 30rem;
  display: block;
  float: right;
  margin-right: 10rem;
  margin-top: 35rem;
  cursor: none;
}

.jennyNguyen-infos-p {
  font-size: 3rem;
  color: #d5c1ba;
}

/* CURSOR CUSTOM */
.hiddenCursor {
  width: 15rem;
  height: 15rem;
  border: solid 1px #c0b0b0;
  background-color: #383e46;
  z-index: -5;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

/* LETS TALK */
.lets_talk {
  border: solid 1px yellow;
  width: 100%;
  top: 30rem;
}

.lets_talk h2 {
  font-size: 10rem;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #525a66;
}

/* 2020 */
.twentytwenty {
  font-size: 20rem;
  color: #525a66;
}

.twentytwenty-wrap {
  /*   border: solid 1px rgb(168, 168, 19); */
  width: auto;
  height: auto;
  right: 1rem;
  top: 2rem;
  z-index: 5;
}

/* HEADER */
header.voice_over {
  /* border: solid 1px yellow; */
  width: 90%;
  height: 30rem;
  top: 10rem;
  right: 5rem;
}

.voice_over-header {
  width: 80%;
  height: 30rem;
  cursor: s-resize;
  overflow-y: scroll;
}

.voice_over-header::-webkit-scrollbar {
  display: none;
}

.voice_over-header_text {
  font-size: 10rem;
  font-weight: 300;
  letter-spacing: 5px;
  color: #383e46;
}

.voice_over-header_text span {
  font-weight: 400;
}

.voice_over-header-right {
  width: 20%;
  height: 60rem;
  right: 0;
  background-color: #d9cbcb;
}

/* Gallery */
.gallery_wrapper {
  /*  border: solid 1px yellow; */
  width: 80%;
  height: 50rem;
  bottom: -60rem;
  left: 5rem;
}

.bigImg {
  width: 50%;
  height: 100%;
}

.smallImg {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

img.small {
  cursor: pointer;
  width: 100%;
}

img.small:hover {
  opacity: 0.7;
}

img.bigImg_img {
  height: 100%;
}

.nextToGallery {
  /*  border: solid 1px sandybrown; */
  right: 20rem;
  width: 30rem;
  bottom: 0;
}

.nextToGallery h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* video */
.video_wrapper {
  /*  border: solid 1px yellow; */
  width: 90%;
  margin: auto;
  bottom: -80rem;
}

.video_wrapper video {
  right: 0;
}

.video_wrapper-text {
  width: 33%;
}

.video_wrapper-text h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

#footer-wrapper_seventh {
  position: relative;
  top: 120rem;
}

/* #first_nav {
  background-color: $firstS_dark_red;
  & a {
    color: white;
    font-weight: 400;
  }
} */
/* HEADER */
.header_martyr {
  border: solid 1px white;
  width: 90%;
  height: 80%;
  top: 10rem;
  margin-left: 5rem;
}

.header_martyr-video {
  right: 0;
}

.header_martyr-img {
  width: 20rem;
  height: auto;
  bottom: 0;
}

.header_martyr-img_aside {
  width: 30rem;
  right: 0;
  z-index: -5;
}

.header_martyr-heading {
  width: 100%;
  height: auto;
  top: 40%;
}

.header_martyr-heading-wrapper_first {
  border: solid 1px yellow;
  width: 100%;
  height: 4rem;
  background-color: #620101;
  -webkit-animation: widthDiv 3s;
          animation: widthDiv 3s;
}

.header_martyr-heading-wrapper_second {
  /* border: solid 1px violet; */
  height: 4rem;
  width: 100%;
  z-index: -5;
  -webkit-animation: topToBottom 4s;
          animation: topToBottom 4s;
}

.header_martyr-heading-h1_first, .header_martyr-heading-h1_second {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header_martyr-heading-h1_first {
  -webkit-animation: oppacity_fromZero ease-in 3s;
          animation: oppacity_fromZero ease-in 3s;
}

.header_martyr-heading-h1_second {
  -webkit-animation: oppacity_fromZero ease-in 3s;
          animation: oppacity_fromZero ease-in 3s;
  color: #620101;
}

/*VIDEO */
.video_wrapper-first {
  width: 100%;
  height: 5rem;
  top: 5rem;
  overflow: hidden;
  -webkit-animation: toRight ease 3s;
          animation: toRight ease 3s;
}

.video_wrapper-second {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  bottom: 0;
  left: 25%;
  -webkit-animation: fromLeft ease 3s;
          animation: fromLeft ease 3s;
}

.after_header {
  width: 100%;
  height: 10rem;
  top: 120%;
}

.after_header_text {
  font-size: 1.7rem;
  font-weight: 400;
  color: #620101;
}

/* SIMPLE GALLERY */
section.images {
  /*  border: solid 1px yellow; */
  width: 100%;
  margin: auto;
  top: 80rem;
}

.grid_gallery {
  width: 60%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.firstSemImg {
  width: 100%;
  cursor: pointer;
}

.firstSemImg:hover {
  opacity: 0.7;
}

.lightBox {
  /* border: soldi 1px black; */
  width: 100%;
  height: 100%;
  background-color: #620101c7;
  left: -100%;
}

.lightBox_info {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}

.lightBox_img {
  height: 80%;
}

.lightBox_close {
  font-size: 3rem;
  color: white;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.lightBox_close:hover {
  font-size: 3.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#footer-wrapper_first {
  position: relative;
  top: 90em;
}

#secondSemester {
  background-color: #b7c3d1;
}

#second_nav {
  background-color: #79e2cbc0;
}

/* HEADER GRID */
.header_grid {
  /*  border: solid 1px yellow; */
  height: 100vh;
  width: auto;
  margin: 10rem 5rem 5rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.header_grid-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
}

.header_grid-info_p {
  font-size: 1.2rem;
}

.header_grid-info_heading {
  text-transform: uppercase;
}

.header_grid-img_one {
  background-image: url("../05_images/02_Semester/01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -webkit-animation: topToBottom ease 4s;
          animation: topToBottom ease 4s;
}

.header_grid-img_two {
  background-image: url("../05_images/02_Semester/04.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -webkit-animation: topToBottom ease 4s;
          animation: topToBottom ease 4s;
}

.header_grid-img_three {
  background-image: url("../05_images/02_Semester/03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -webkit-animation: topToBottom ease 4s;
          animation: topToBottom ease 4s;
}

/* SECTION MIDDLE */
h6 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 5px;
  color: white;
}

h6.line_one,
h6.line_three {
  -webkit-animation: oppacity 2s infinite ease-in-out alternate;
          animation: oppacity 2s infinite ease-in-out alternate;
}

h6.line_two {
  animation: oppacity 3s infinite ease-in-out alternate reverse;
}

.middle {
  /* border: solid 1px yellow; */
  width: 90%;
  margin: 5rem;
  bottom: -60rem;
}

.middle-words_div {
  width: 100%;
  height: 20rem;
}

.middle-words_div-line {
  /*  border: solid 1px fuchsia; */
  width: 100%;
  height: 5rem;
  margin: 5rem 0;
  z-index: -5;
}

.middle-image-grid {
  /*  border: solid 1px pink; */
  width: 100%;
  bottom: -100rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.middle-image_wrap-one, .middle-image_wrap-two, .middle-image_wrap-three {
  width: 20rem;
  height: 100%;
}

.middle-image_wrap-one {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
}

.middle-image_wrap-two {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.middle-image_wrap-three {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 4;
  grid-row: 4;
}

.end_text {
  width: 80vw;
  left: 0;
  margin: 4rem;
}

.end_text-p {
  font-size: 1.5rem;
}

#footer-wrapper_second {
  position: relative;
  top: 230rem;
}

#thirdSemester {
  background-color: #d1c7c5;
}

#third_nav {
  background-color: #d9b500;
}

/* Asides */
.left {
  /* border: solid 1px yellow; */
  top: 10rem;
  width: 10rem;
  height: 150rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.left_img {
  width: 100%;
}

.right {
  /*  border: solid 1px yellow; */
  right: 0;
  top: 10rem;
  width: 10rem;
  height: 120rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.right_img {
  width: 100%;
}

/* Header */
.thirdSem {
  /*  border: solid 1px yellow; */
  width: 70%;
  height: 100%;
  top: 10rem;
  left: 15rem;
}

.thirdSem_img {
  width: 30rem;
  background-image: url("../05_images/03_Semester/4.JPG");
  -webkit-animation: imgHeight ease-in-out forwards 2s;
          animation: imgHeight ease-in-out forwards 2s;
}

.thirdSem_h1 {
  top: 0;
  right: 0;
}

.thirdSem_h1_text {
  font-size: 7rem;
  color: #8c6003;
  text-shadow: 5px 5px 2px #c8bbb2;
}

.karlsruhe {
  /* border: solid 1px hotpink; */
  width: 60%;
  height: 30rem;
  bottom: -80rem;
  left: 20rem;
}

.karlsruhe_img {
  background-image: url("../05_images/03_Semester/00.jpg");
  width: 20rem;
  height: 100%;
}

.karlsruhe_info {
  width: 50%;
}

#slideshow {
  /* border: solid 1px greenyellow; */
  bottom: -90rem;
  left: -15rem;
  width: 100%;
  overflow: hidden;
  margin: 20px auto 0 auto;
}

#slideshow ul {
  position: relative;
  height: 200px;
  list-style: none;
}

/* Slides */
#slideshow ul li {
  position: relative;
  display: block;
  float: left;
  width: 45rem;
  height: 45rem;
  text-align: center;
  line-height: 300px;
}

.img_one {
  background-image: url("../05_images/03_Semester/2.JPG");
  background-size: contain;
  width: 100%;
  height: 100%;
}

.img_two {
  background-image: url("../05_images/03_Semester/3.JPG");
  background-size: contain;
  width: 100%;
  height: 100%;
}

.img_three {
  background-image: url("../05_images/03_Semester/4.JPG");
  background-size: contain;
  width: 100%;
  height: 100%;
}

.img_four {
  background-image: url("../05_images/03_Semester/5.JPG");
  background-size: contain;
  width: 100%;
  height: 100%;
}

a.button_next,
a.button_prev {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #8c6003;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

a.button_prev {
  border-radius: 0 2px 2px 0;
}

a.button_next {
  border-radius: 2px 0 0 2px;
  right: 0;
}

/* More infos */
.baptiste {
  /* border: solid 1px orange; */
  width: 80%;
  height: 30rem;
  margin: auto;
  bottom: -100rem;
}

.baptiste div {
  width: 50rem;
  margin: 5rem;
}

.baptiste p {
  font-size: 1.5rem;
  font-weight: 400;
}

.baptiste_img {
  background-image: url("../05_images/03_Semester/5.jpg");
  width: 20rem;
  height: 30rem;
}

#footer-wrapper_third {
  position: relative;
  top: 105rem;
}

#fourthSemester {
  background-color: #b6ae8f;
}

#fourth_nav {
  background-color: #7c7d82;
}

#fourth_nav a {
  color: white;
  font-weight: 400;
}

header.fourth {
  width: 90%;
  margin: auto;
}

.header_fourth {
  /* border: solid 1px yellow; */
  width: 90%;
  height: 80vh;
  top: 10rem;
  overflow: hidden;
}

.header_fourth-info {
  top: 5rem;
  font-size: 10rem;
  color: #f6f3ef;
}

.header_fourth-info span {
  font-size: 7rem;
}

.header_fourth-video {
  height: 80%;
}

section.fourth {
  /* border: solid 1px violet; */
  width: 100%;
  height: auto;
  top: 100vh;
}

.section_fourth-img-wrapper {
  /* border: solid 1px yellow; */
  width: 80vw;
  margin: auto;
  height: 100rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section_fourth-img-wrapper-info p {
  font-size: 3rem;
  letter-spacing: 5px;
  color: #454c38;
}

img.fourth {
  width: 20rem;
  margin: 10rem;
  -webkit-perspective: 10px;
          perspective: 10px;
  -webkit-perspective-origin: 50%;
          perspective-origin: 50%;
  cursor: pointer;
}

#footer-wrapper_fourth {
  position: relative;
  top: 345rem;
}
/*# sourceMappingURL=style.css.map */